___

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=8514&pageid=8158&startlastseen=no"><img align="center" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE-0322-Students/blob/main/3-%20Classes%26Labs/2-DAwPY/DAwPy_S03_(Pandas_Series).ipynb"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="100" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<a href="https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S3_%28Pandas_Series%29/DAwPy_S3_%28Pandas_Series%29.ipynb"><img align="right" src="https://i.ibb.co/48wtV8c/nbviewer-badge.png" alt="Open in nbviewer" width="130" height="200" title="Open and Execute in nbviewer"></a><br/>
___

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" width="450" height="200" title="Welcome to Place Where You can Reinvent Yourself"></a><br/>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>


<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 07</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Handling with Missing Values</p>

<img src=https://i.ibb.co/RgknJfB/missing-value.png width="700" height="200">


**[Working with Missing Data in Pandas](https://pandas.pydata.org/docs/user_guide/missing_data.html)**

Missing Data can occur when no information is provided for one or more items or for a whole unit. Missing Data is a very big problem in a real-life scenarios. Missing Data can also refer to as NA (an acronym for Not Available) values in Pandas. In DataFrame sometimes many datasets simply arrive with missing data, either because it exists and was not collected or it never existed. 

**[When and Why Is Data Missed?](https://www.tutorialspoint.com/python_pandas/python_pandas_missing_data.htm)**

Let us consider an online survey where different users being surveyed for a product. Many a times, people do not share all the information related to them. For Example, different users being surveyed may choose not to share their income, some users may choose not to share the address. Few people share their experience, but not how long they are using the product; few people share how long they are using the product, their experience but not their contact information. Thus, in some or the other way a part of data is always missing, and this is very common in real time.


**[Missing Value Handling Methods](https://becominghuman.ai/imputing-missing-values-f00a770d9cc4)**

- **``Delete all instances with at least a missing value``**: If you do this method then, the size of the dataset should be large enough to represent the population without those instances.<br>
- **``Recover redoing the experiment or contacting the subject``**: This is one of the high-cost methods to recover the values, redoing an experiment takes time and cost money, moreover if it's a public opinion kind of dataset, then acts like GDPR restrict future uses to contact the subject in some cases.<br>
- **``Domain Experts Guessing``**: By consulting the domain experts it is possible to guess the missing values with their experience but this method is a hectic and highly cost method due to the high hourly rates of experts.<br>
- **``Fill with mean``**: This is one of the easiest and most primary methods of imputing missing values, by filling each missing value with the average of the attribute. This is not always good to use because it reduces the variability of the data but in some cases makes sense.<br>
- **``Fill with median``**: Similar to the above method the problem is it reduces the variability of the data. Moreover, if the missing values are distributed then it could increase the noise of the data as well.<br>
- **``Using Machine Learning algorithms``**: There are two different ways of using ML for imputation, first the multiple-regression analysis, by creating a regression equation using the rest of the data it is possible to predict missing values. This method needs more complete instances to train the model. Finally, the most common and popular method is the Multiple Imputation. where there are multiple missing values based on the correlations for the missing data and then averages the simulated datasets by incorporating random errors in your predictions

[YouTube Video Source: Python Pandas Tutorial: Handle Missing Data; fillna, dropna, interpolate](https://www.youtube.com/watch?v=EaGbS7eWSs0)<br>
[YouTube Video Source: Python Pandas Tutorial: Handle Missing Data; replace function](https://www.youtube.com/watch?v=XOxABiMhG2U)<br>
[YouTube Video Source: Handling Missing Values in Pandas Dataframe](https://www.youtube.com/watch?v=uDr67HBIPz8)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [TYPE OF NAN VALUES](#1)
* [DETECTING MISSING VALUES](#2)
* [CONVERTING INAPPROPRIATE VALUES TO NAN VALUES](#3)    
* [MISSING VALUE HANDLING METHODS](#4)    
* [THE END OF THE SESSION - 07](#5)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import display

# import warnings
# warnings.filterwarnings("ignore")  # to suppress all warnings

In [3]:
id_no = ["P001", "P002", "P003", "P004", "P005", "P006", "P007", "P008", "P009", "P010", "P011"]
gender = ["M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M"]
status = ["FT", "PT", "-", "FT", "PT", "PT", "FT", "-", "PT", "FT", np.nan]
dept = ["DS", "FS", "AWS", "AWS", "DS", None, "FS", "FS", np.nan, "DS", "AWS"]

V1 = np.array([2, 3, 5, np.nan, 7, 1, np.nan, 10, 14, "-", 6])
V2 = np.array([8, np.nan, 5, 8, 11, np.nan, np.nan, 2, 3, 7, 9])
salary = np.array([np.nan, 54, 59, 120, 58, 75, None, 136, 60, 125, np.nan])


df = pd.DataFrame({
                   "id" : id_no,
                   "gender": gender,
                   "status": status,
                   "dept": dept,
                   "var1" : V1,
                   "var2" : V2,
                   "salary" : salary
                  })
df

      id gender status  dept var1  var2 salary
0   P001      M     FT    DS    2   8.0    NaN
1   P002      F     PT    FS    3   NaN     54
2   P003      M      -   AWS    5   5.0     59
3   P004      F     FT   AWS  nan   8.0    120
4   P005      M     PT    DS    7  11.0     58
5   P006      F     PT  None    1   NaN     75
6   P007      M     FT    FS  nan   NaN   None
7   P008      F      -    FS   10   2.0    136
8   P009      M     PT   NaN   14   3.0     60
9   P010      F     FT    DS    -   7.0    125
10  P011      M    NaN   AWS    6   9.0    NaN

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Type of NaN Values</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**[Values considered ‚Äúmissing‚Äù](https://pandas.pydata.org/docs/user_guide/missing_data.html)**

As data comes in many shapes and forms, Pandas aims to be flexible with regard to handling missing data. While **``NaN``** is the **default missing value marker** for reasons of **computational speed and convenience**, we need to be able to easily detect this value with data of different types: floating point, integer, boolean, and general object. In many cases, however, the Python **``None``** will arise and we wish to also consider that ‚Äúmissing‚Äù or ‚Äúnot available‚Äù or ‚ÄúNA‚Äù.

**In Pandas missing data is represented by two value:**

- **``None``**: None is a Python singleton object that is often used for missing data in Python code.
- **``NaN ``**: NaN (an acronym for Not a Number), is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation

[Data Cleaning with Python and Pandas: Detecting Missing Values](https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b)<br>
[8 Methods For Handling Missing Values With Python Pandas](https://towardsdatascience.com/8-methods-for-handling-missing-values-with-python-pandas-842544cdf891)<br>
[Missing values in pandas (nan, None, pd.NA)](https://note.nkmk.me/en/python-pandas-nan-none-na/)<br>
[Handling Missing Data](https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html)<br>
[Practical Strategies to Handle Missing Values](https://towardsdatascience.com/practical-strategies-to-handle-missing-values-626f9c43870b)

**Let us first examine the Dataset:**

**``NoneType``** in Python is the data type of the object when the object does not have any value.

**When is NoneType used?**

It is useful in many places. It is the default return type of the function when the function does not return any value.

**Use cases (Examples):**

- If the Python regular expression in re.search does not match, it returns NoneType object.
- When you search key in the Python dictionary and the key is not present, it returns NoneType object.
- The None keyword is also used for matching or identifying if a certain function returns any value or not.

[What is NoneType in Python and Null Equivalent?](https://www.csestack.org/nonetype-in-python-null/)

Let us examine the **Null values** in **``"salary"``**, **``"status"``**, and **``"var1"``** features:

**Therfore, it can be concluded that it is so important how any null values came out; are they created by means of list or np.array, etc.?**

In [18]:
print(0 * np.nan)
print(np.nan is np.nan )
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(np.nan + np.nan)
print(np.nan - 10)
print(np.nan + 10)
print(np.nan in set([np.nan]))
print(0.3 == 3 * 0.1)

nan
True
False
False
nan
nan
nan
nan
True
False

In [19]:
a = np.nan
b = np.nan
print(id(a))
print(id(b))

2395656983280
2395656983280

**``nan``** not being equal to nan is part of the definition of nan, so that part's easy.

As for **``nan``** in [nan] being True, that's because identity is tested before equality for containment in lists. You're comparing the same two objects.

The reason for this is that **``== operator``** compares the values of both the operands and checks for value equality. **``is operator``**, on the other hand, checks whether both the operands refer to the same object or not.

In fact, you can print out the **IDs** of both **a** and **b** and see that they **refer to the same object**.

**What is the None keyword in Python? [ANSWER01](https://www.educative.io/edpresso/what-is-the-none-keyword-in-python), [ANSWER02](https://stackoverflow.com/questions/21095654/what-is-a-nonetype-object)**

**Difference between None and NaN in Pandas [ANSWER01](https://www.skytowner.com/explore/difference_between_none_and_nan_in_pandas), [ANSWER02](https://kegui.medium.com/what-is-the-difference-between-nan-none-pd-nan-and-np-nan-a8ee0532e2eb)**

**Difference between np.nan and np.NaN [ANSWER](https://stackoverflow.com/questions/53436339/difference-between-np-nan-and-np-nan)**

**Difference between nan and 'nan' in Python [ANSWER01](https://stackoverflow.com/questions/40309789/difference-between-nan-and-nan-in-python), [ANSWER02](https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b)**

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Detecting Missing Values</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``NaN``**, standing for **"Not A Number"**, is a numeric data type used to represent any value that is undefined or unpresentable.

For example, 0/0 is undefined as a real number and is, therefore, represented by NaN. The square root of a negative number is an imaginary number that cannot be represented as a real number, so, it is represented by NaN.

**``NaN``** is also assigned to variables, in a computation, that do not have values and have yet to be computed.

In [4]:
df

      id gender status  dept var1  var2 salary
0   P001      M     FT    DS    2   8.0    NaN
1   P002      F     PT    FS    3   NaN     54
2   P003      M      -   AWS    5   5.0     59
3   P004      F     FT   AWS  nan   8.0    120
4   P005      M     PT    DS    7  11.0     58
5   P006      F     PT  None    1   NaN     75
6   P007      M     FT    FS  nan   NaN   None
7   P008      F      -    FS   10   2.0    136
8   P009      M     PT   NaN   14   3.0     60
9   P010      F     FT    DS    -   7.0    125
10  P011      M    NaN   AWS    6   9.0    NaN

Pandas **``isnull()``**, and **``isna()``** methods are used to check and manage NULL values in a data frame. The function returns a boolean same-sized object indicating if the values are NA. NA values, such as None or numpy.NaN, gets mapped to True values. Everything else gets mapped to False values. 

Note: Characters such as empty strings '' or numpy.inf are not considered NA values (unless you set pandas.options.mode.use_inf_as_na = True).

In [5]:
df.isnull()

       id  gender  status   dept   var1   var2  salary
0   False   False   False  False  False  False    True
1   False   False   False  False  False   True   False
2   False   False   False  False  False  False   False
3   False   False   False  False  False  False   False
4   False   False   False  False  False  False   False
5   False   False   False   True  False   True   False
6   False   False   False  False  False   True    True
7   False   False   False  False  False  False   False
8   False   False   False   True  False  False   False
9   False   False   False  False  False  False   False
10  False   False    True  False  False  False    True

Pandas **``notnull()``** and **``notna()``** functions detects existing/ non-missing values in the dataframe. The function returns a boolean object having the same size as that of the object on which it is applied, indicating whether each individual value is a na value or not. All of the non-missing values gets mapped to true and missing values get mapped to false. 

Note : Characters such as empty strings ‚Äù or numpy.inf are not considered NA values. (unless you set pandas.options.mode.use_inf_as_na = True).

In [6]:
df.isnull().sum()

id        0
gender    0
status    1
dept      2
var1      0
var2      3
salary    3
dtype: int64

In [7]:
df.isnull().sum().sum()

9

In [8]:
df.isnull().sum() / len(df) * 100

id         0.000000
gender     0.000000
status     9.090909
dept      18.181818
var1       0.000000
var2      27.272727
salary    27.272727
dtype: float64

**üìù Note that there have been "nan" and "-" values whose data type is integer. They do NOOT look like as "NaN" in the DataFrame. üìù**

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Converting Inappropriate Values to NaN Values</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- pd.to_numeric()
- map()
- replace()

They key here is the **``errors='coerce'``** parameter of to_numeric

Per [the Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html) it will replace any value which cannot be converted with **``NaN``**

**Notes:** When **``arg``** parameter is a dictionary, values in Series that are **NOT** in the dictionary (as keys) are converted to NaN. However, if the dictionary is a dict subclass that defines __missing__ (i.e. provides a method for default values), then this default is used rather than NaN [SOURCE](https://www.w3resource.com/pandas/series/series-map.php#:~:text=The%20map()%20function%20is,a%20dict%20or%20a%20Series.&text=Mapping%20correspondence.&text=If%20'ignore'%2C%20propagate%20NaN,them%20to%20the%20mapping%20correspondence.).

Everythings look like great with respect to inappropriate values. Before going further for applying handling methods for miising values, the categorical values in "gender" feature can be converted into numerical ones using map() method; however, it's up to you since you can come over this kind of issue later by applying various methods as well, such as get_dummies(), OneHot Encoding and Label Encoding techniques:

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Missing Value Handling Methods</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

 1. <b>Deleting (Dropping) Rows</b> ----->if it has more than 70-75% of missing values
    
 2. <b>Replacing (Filling) With Mean/Median/Mode (Imputation)</b>--->can be applied on a feature which has numeric data

 3. <b> Assigning An Unique Category</b>--->If a categorical feature has definite number of classes, we can assign another class
    
 4. <b>Predicting The Missing Values</b>---> we can predict the nulls with the help of a machine learning algorithm like linear regression

 5. <b>Using Algorithms Which Support Missing Values</b>--->KNN is a machine learning algorithm which works on the principle of distance measure.  This algorithm can be used when there are nulls present in the dataset.  KNN considers the missing values by taking the majority of the K nearest values

 ## 1 - Dropping
 
 - dropna()
 - drop()

* **``any``** : If any NA values are present, drop that row or column.
* **``all``** : If all values are NA, drop that row or column [Source](https://www.journaldev.com/33492/pandas-dropna-drop-null-na-values-from-dataframe).

**``thresh=N``** requires that a column has at least N **non-NaNs to survive.** [Source](https://stackoverflow.com/questions/51584906/thresh-in-dropna-for-dataframe-in-pandas-in-python/51584935)

 ## 2 - Filling Missing Values (Imputation)
 
Before going ahead with imputation, let us remember what is a missing value. a missing value is the part of the dataset that seems missing or is a null value, maybe due to some missing data during research or data collection.

Having a missing value in a machine learning model which will be your next step in your journey after Data Analytics is considered very inefficient and hazardous because of the following reasons:

- Reduces the efficiency of the ML model.
- Affects the overall distribution of data values.
- It leads to a biased effect in the estimation of the ML model.

By imputation, we mean to replace the missing or null values with a particular value in the entire dataset. Imputation can be done using any of the following basic techniques. In sum, Imputation methods are those where the missing data are filled in to create a complete data matrix that can be analyzed using standard methods.
 
 - **fillna()**
 - **where()**
 - **interpolate()**

 ### a.Filling with a specific value

 ### b.Filling with any Proper Value

**where() Replace values where the condition is False.**

Pandas **``where()``** method is used to check a data frame for one or more condition and return the result accordingly. By default, it replaces the values of the rows where the condition evaluates to **False** with desired value. The **``where()``** method is the opposite of the The **``mask()``** method.

üî• **IMPORTANT :** The **``where()``** method assigns False places üî•

**Fill NaN values using an interpolation method.**

**``interpolate()``** function in Pandas is basically used to fill NA values in the dataframe or series by generating points between given points. Therefore, this is a very powerful function to fill the missing values. It uses various interpolation techniques to fill the missing values rather than hard-coding the value.

[How do pandas interpolate missing values?](https://note.nkmk.me/en/python-pandas-interpolate/)

df.interpolate(
                method: 'str' = 'linear',
                axis: 'Axis' = 0,
                limit: 'int | None' = None,
                inplace: 'bool' = False,
                limit_direction: 'str | None' = None,
                limit_area: 'str | None' = None,
                downcast: 'str | None' = None,
                **kwargs,
               ) -> 'DataFrame | None'
Docstring:
Fill NaN values using an interpolation method.

Please note that only ``method='linear'`` is supported for DataFrame/Series with a MultiIndex.

Parameters
----------
method : str, default 'linear'
    Interpolation technique to use. One of:

    * 'linear': Ignore the index and treat the values as equally
      spaced. This is the only method supported on MultiIndexes.
    * 'time': Works on daily and higher resolution data to interpolate
      given length of interval.
    * 'index', 'values': use the actual numerical values of the index.
    * 'pad': Fill in NaNs using existing values.
    * 'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'spline',
      'barycentric', 'polynomial': Passed to
      `scipy.interpolate.interp1d`. These methods use the numerical
      values of the index.  Both 'polynomial' and 'spline' require that
      you also specify an `order` (int), e.g.
      ``df.interpolate(method='polynomial', order=5)``.
    * 'krogh', 'piecewise_polynomial', 'spline', 'pchip', 'akima',
      'cubicspline': Wrappers around the SciPy interpolation methods of
      similar names. See `Notes`.
    * 'from_derivatives': Refers to
      `scipy.interpolate.BPoly.from_derivatives` which
      replaces 'piecewise_polynomial' interpolation method in
      scipy 0.18.

axis : {{0 or 'index', 1 or 'columns', None}}, default None
    Axis to interpolate along.
limit : int, optional
    Maximum number of consecutive NaNs to fill. Must be greater than 0.
inplace : bool, default False
    Update the data in place if possible.
limit_direction : {{'forward', 'backward', 'both'}}, Optional
    Consecutive NaNs will be filled in this direction.

    If limit is specified:
        * If 'method' is 'pad' or 'ffill', 'limit_direction' must be 'forward'.
        * If 'method' is 'backfill' or 'bfill', 'limit_direction' must be
          'backwards'.

    If 'limit' is not specified:
        * If 'method' is 'backfill' or 'bfill', the default is 'backward'
        * else the default is 'forward'

    .. versionchanged:: 1.1.0
        raises ValueError if `limit_direction` is 'forward' or 'both' and method is 'backfill' or 'bfill'.
        raises ValueError if `limit_direction` is 'backward' or 'both' and method is 'pad' or 'ffill'.

limit_area : {{`None`, 'inside', 'outside'}}, default None
    If limit is specified, consecutive NaNs will be filled with this restriction.

    * ``None``: No fill restriction.
    * 'inside': Only fill NaNs surrounded by valid values (interpolate).
    * 'outside': Only fill NaNs outside valid values (extrapolate).

downcast : optional, 'infer' or None, defaults to None
    Downcast dtypes if possible.
``**kwargs`` : optional
    Keyword arguments to pass on to the interpolating function.

Returns
-------
Series or DataFrame or None
    Returns the same object type as the caller, interpolated at some or all ``NaN`` values or None if ``inplace=True``.

See Also
--------
fillna : Fill missing values using different methods.
scipy.interpolate.Akima1DInterpolator : Piecewise cubic polynomials (Akima interpolator).
scipy.interpolate.BPoly.from_derivatives : Piecewise polynomial in the Bernstein basis.
scipy.interpolate.interp1d : Interpolate a 1-D function.
scipy.interpolate.KroghInterpolator : Interpolate polynomial (Krogh interpolator).
scipy.interpolate.PchipInterpolator : PCHIP 1-d monotonic cubic interpolation.
scipy.interpolate.CubicSpline : Cubic spline data interpolator.

Notes
-----
The 'krogh', 'piecewise_polynomial', 'spline', 'pchip' and 'akima' methods are wrappers around the respective SciPy implementations of similar names. These use the actual numerical values of the index.
For more information on their behavior, see the
`SciPy documentation
<https://docs.scipy.org/doc/scipy/reference/interpolate.html#univariate-interpolation>`__and `SciPy tutorial
<https://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html>`__.

Examples
--------
Filling in ``NaN`` in a :class:`~pandas.Series` via linear interpolation.

For more information about [interpolation](https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/)

 ### c.Filling the Missing Values of Categorical Variables

- **pad / ffill:** propagate last valid observation forward to next valid
- **backfill / bfill:** use next valid observation to fill gap.

 ### d.Filling by condition & by Group of the Categorical Variables

In [9]:
df

      id gender status  dept var1  var2 salary
0   P001      M     FT    DS    2   8.0    NaN
1   P002      F     PT    FS    3   NaN     54
2   P003      M      -   AWS    5   5.0     59
3   P004      F     FT   AWS  nan   8.0    120
4   P005      M     PT    DS    7  11.0     58
5   P006      F     PT  None    1   NaN     75
6   P007      M     FT    FS  nan   NaN   None
7   P008      F      -    FS   10   2.0    136
8   P009      M     PT   NaN   14   3.0     60
9   P010      F     FT    DS    -   7.0    125
10  P011      M    NaN   AWS    6   9.0    NaN

**Let's fill the missing values at "status" column with defined condition by "salary"**

üî• **IMPORTANT :** Even if **``fillna()``** method has a inplace parameter, when inplace parameter are used with loc[ ] it does **NOT work** üî•

**Let's fill the last missing value at "status" column with the mode of the group of "gender" and "dept"**

We couldn't fill missing value at the last row in the "status" column above because its corresponding value at the last row of the "salary column has a NaN value as well. To fill this missing value at the "status" column, let's first examine the modes by grouping them by gender and department. Then we can decide which of the mod values we find to fill in the missing values.

Since the transform() method returns the same length as input it is more logical to use the transform() method for feature engineering rather than using the apply() method. Otherwise, you will get NaN values in the new feature you created with apply() method. So the transform() method will be used to fill missing values in the DataFame.

**``Special Note:``** The index of df was RangeIndex(start=0, stop=2, step=1). Therefore, RangeIndex vs MultiIndex mismatach caused the issue.

df.groupby(["gender", "dept"])["status"].apply(lambda x : x.mode()).index

**How to solve MultiIndex issue while using groupby() and apply()?**

You can groupy the 'gender' and 'dept' columns and then call apply on the df groupby object and pass the function mode. We can then call reset_index and pass param drop=True so that the multi-index is not added back as a column as you already have those columns:

[How to group by mode in python?](https://stackoverflow.com/questions/30216921/how-to-group-by-mode-in-python)

**Let's fill the missing values at "salary" column with the mean of the group of "status" and "dept"**

**Let's fill the missing values at "var1" column with the mean of the group of "gender" and "status"**

**Let's fill the missing values at "var2" column with the mean of group of "status"**

### e.Filling with Interpolation

Pandas **``dataframe.interpolate()``** function is basically used to fill NA values in the dataframe or series. But, this is a very powerful function to fill the missing values. It uses various interpolation technique to fill the missing values rather than hard-coding the value [Source 01](https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/) & [Source 02](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html)

In [112]:
flights = sns.load_dataset("flights")
flights

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 07</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" title="Way to Reinvent Yourself"></a><br/>


## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>
___