___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [144]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import json
import re

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline


plt.rcParams["figure.figsize"] = (10,6)


sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.2f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [145]:
df0 = pd.read_json("as24_cars.json", lines=False)

In [146]:
df=df0.copy()

In [147]:
df.head().T

                                                                           0  \
make_model                                               Mercedes-Benz A 160
short_description                                                        CDi
make                                                       \nMercedes-Benz\n
model                                                        [\n, A 160 ,\n]
location                   P.I. EL PALMAR C/FORJA 6,  11500 PUERTO DE SAN...
price                                                             € 16,950.-
Body type                                                  [\n, Compact, \n]
Type                                                          [\n, Used, \n]
Doors                                                            [\n, 5, \n]
Country version                                              [\n, Spain, \n]
Offer number                                               [\n, 7468157, \n]
Warranty                                                 [\n, 24 months, \n]
Mileage                                                           120,200 km
First registration                                                   06/2016
Gearbox                                                         [\nManual\n]
Fuel type                                                             Diesel
Colour                                                                 Black
Paint                                                               Metallic
desc                       [ , Precio al contado: 16950 euros,  ,  , Vehí...
seller                                                                Dealer
Seats                                                                    NaN
Power                                                                    NaN
Engine size                                                              NaN
Gears                                                                    NaN
CO₂-emissions                                                            NaN
Manufacturer colour                                                      NaN
Drivetrain                                                               NaN
Cylinders                                                                NaN
Fuel consumption                                                         NaN
\nComfort & Convenience\n                                                NaN
\nEntertainment & Media\n                                                NaN
\nSafety & Security\n                                                    NaN
\nExtras\n                                                               NaN
Empty weight                                                             NaN
Model code                                                               NaN
General inspection                                                       NaN
Last service                                                             NaN
Full service history                                                     NaN
Non-smoker vehicle                                                       NaN
Emission class                                                           NaN
Emissions sticker                                                        NaN
Upholstery colour                                                        NaN
Upholstery                                                               NaN
Production date                                                          NaN
Previous owner                                                           NaN
Other fuel types                                                         NaN
Power consumption                                                        NaN
Energy efficiency class                                                  NaN
CO₂-efficiency                                                           NaN
Fuel consumption (WLTP)                                                  NaN
CO₂-emissions (WLTP)                                                     NaN
Available from                                                           NaN
Taxi or rental car                                                       NaN
Availability                                                             NaN
Last timing belt change                                                  NaN
Electric Range (WLTP)                                                    NaN
Power consumption (WLTP)                                                 NaN
Battery Ownership                                                        NaN

                                                                           1  \
make_model                                             Mercedes-Benz EQE 350
short_description                                                       350+
make                                                       \nMercedes-Benz\n
model                                                      [\n, EQE 350 ,\n]
location                        APARTADO DE CORREOS 1032,  26140 LOGROÑO, ES
price                                                             € 80,900.-
Body type                                                  [\n, Compact, \n]
Type                                                [\n, Pre-registered, \n]
Doors                                                            [\n, 4, \n]
Country version                                              [\n, Spain, \n]
Offer number                                               [\n, 7054863, \n]
Warranty                                                 [\n, 24 months, \n]
Mileage                                                             5,000 km
First registration                                                   06/2022
Gearbox                                                      [\nAutomatic\n]
Fuel type                                                           Electric
Colour                                                                   NaN
Paint                                                                    NaN
desc                       [ , Precio al contado: 88900 euros,  , AUTO OJ...
seller                                                                Dealer
Seats                                                            [\n, 5, \n]
Power                                                  [\n215 kW (292 hp)\n]
Engine size                                                       [\n1 cc\n]
Gears                                                                [\n9\n]
CO₂-emissions                                                 0 g/km (comb.)
Manufacturer colour                                          Negro Obsidiana
Drivetrain                                                               NaN
Cylinders                                                                NaN
Fuel consumption                                                         NaN
\nComfort & Convenience\n                                                NaN
\nEntertainment & Media\n                                                NaN
\nSafety & Security\n                                                    NaN
\nExtras\n                                                               NaN
Empty weight                                                             NaN
Model code                                                               NaN
General inspection                                                       NaN
Last service                                                             NaN
Full service history                                                     NaN
Non-smoker vehicle                                                       NaN
Emission class                                                           NaN
Emissions sticker                                                        NaN
Upholstery colour                                                        NaN
Upholstery                                                               NaN
Production date                                                          NaN
Previous owner                                                           NaN
Other fuel types                                                         NaN
Power consumption                                                        NaN
Energy efficiency class                                                  NaN
CO₂-efficiency                                                           NaN
Fuel consumption (WLTP)                                                  NaN
CO₂-emissions (WLTP)                                                     NaN
Available from                                                           NaN
Taxi or rental car                                                       NaN
Availability                                                             NaN
Last timing belt change                                                  NaN
Electric Range (WLTP)                                                    NaN
Power consumption (WLTP)                                                 NaN
Battery Ownership                                                        NaN

                                                                           2  \
make_model                                            Mercedes-Benz A 45 AMG
short_description                                           S 4Matic+ 8G-DCT
make                                                       \nMercedes-Benz\n
model                                                     [\n, A 45 AMG ,\n]
location                   PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...
price                                                             € 69,900.-

In [148]:
df.shape

(29480, 58)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   make_model                28630 non-null  object
 1   short_description         28630 non-null  object
 2   make                      28630 non-null  object
 3   model                     28630 non-null  object
 4   location                  28630 non-null  object
 5   price                     28630 non-null  object
 6   Body type                 28630 non-null  object
 7   Type                      28630 non-null  object
 8   Doors                     28271 non-null  object
 9   Country version           16889 non-null  object
 10  Offer number              23100 non-null  object
 11  Warranty                  15784 non-null  object
 12  Mileage                   28629 non-null  object
 13  First registration        28628 non-null  object
 14  Gearbox                   28382 non-null  object
 15  Fuel type                 26843 non-null  object
 16  Colour                    26906 non-null  object
 17  Paint                     14495 non-null  object
 18  desc                      28047 non-null  object
 19  seller                    28630 non-null  object
 20  Seats                     25505 non-null  object
 21  Power                     28058 non-null  object
 22  Engine size               27227 non-null  object
 23  Gears                     18954 non-null  object
 24  CO₂-emissions             18594 non-null  object
 25  Manufacturer colour       21787 non-null  object
 26  Drivetrain                16893 non-null  object
 27  Cylinders                 18852 non-null  object
 28  Fuel consumption          23385 non-null  object
 29
Comfort & Convenience
   25433 non-null  object
 30
Entertainment & Media
   23644 non-null  object
 31
Safety & Security
       25415 non-null  object
 32
Extras
                  23480 non-null  object
 33  Empty weight              17758 non-null  object
 34  Model code                8367 non-null   object
 35  General inspection        12254 non-null  object
 36  Last service              2003 non-null   object
 37  Full service history      12565 non-null  object
 38  Non-smoker vehicle        11594 non-null  object
 39  Emission class            17859 non-null  object
 40  Emissions sticker         9414 non-null   object
 41  Upholstery colour         14569 non-null  object
 42  Upholstery                18610 non-null  object
 43  Production date           5908 non-null   float64
 44  Previous owner            14015 non-null  object
 45  Other fuel types          2313 non-null   object
 46  Power consumption         515 non-null    object
 47  Energy efficiency class   7804 non-null   object
 48  CO₂-efficiency            7804 non-null   object
 49  Fuel consumption (WLTP)   100 non-null    object
 50  CO₂-emissions (WLTP)      116 non-null    object
 51  Available from            393 non-null    object
 52  Taxi or rental car        422 non-null    object
 53  Availability              301 non-null    object
 54  Last timing belt change   572 non-null    object
 55  Electric Range (WLTP)     16 non-null     object
 56  Power consumption (WLTP)  16 non-null     object
 57  Battery Ownership         7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

In [150]:
df.sample(4)

,make_model,short_description,make,model,location,price,Body type,Type,Doors,Country version,Offer number,Warranty,Mileage,First registration,Gearbox,Fuel type,Colour,Paint,desc,seller,Seats,Power,Engine size,Gears,CO₂-emissions,Manufacturer colour,Drivetrain,Cylinders,Fuel consumption,\nComfort & Convenience\n,\nEntertainment & Media\n,\nSafety & Security\n,\nExtras\n,Empty weight,Model code,General inspection,Last service,Full service history,Non-smoker vehicle,Emission class,Emissions sticker,Upholstery colour,Upholstery,Production date,Previous owner,Other fuel types,Power consumption,Energy efficiency class,CO₂-efficiency,Fuel consumption (WLTP),CO₂-emissions (WLTP),Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range (WLTP),Power consumption (WLTP),Battery Ownership
18329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,Mercedes-Benz GLE 350,d 4Matic*MEMORY STANDHEIZUNG 360°CAM*,\nMercedes-Benz\n,"[\n, GLE 350 ,\n]","Postweg 11, 73084 Salach, DE","€ 51,999.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 4, \n]",NaN,"[\n, 4872, \n]",NaN,"90,000 km",07/2018,[\nAutomatic\n],Diesel,Black,Metallic,"[Sonderausstattung:, Ambiente-Beleuchtung, Du...",Dealer,"[\n, 5, \n]",[\n190 kW (258 hp)\n],"[\n2,987 cc\n]",NaN,199 g/km (comb.),OBSIDIANSCHWARZ - METALLICLACK,"[\n, 4WD, \n]",NaN,"[[7.5 l/100 km (comb.)], [8.6 l/100 km (city)]...","[360° camera, Air conditioning, Armrest, Autom...","[Bluetooth, CD player, Hands-free equipment, O...","[ABS, Alarm system, Blind spot monitor, Centra...","[Alloy wheels, Ambient lighting, Automatically...",NaN,NaN,07/2023,NaN,Yes,Yes,Euro 6,4 (Green),Black,Full leather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14780,Skoda Octavia,Combi 2.0 TDI DSG 4x4*LED*Navi*Pano*PDC*Virtua...,\nSkoda\n,"[\n, Octavia ,\n]","Niederhofheimer Straße 49, 65719 Hofheim Am T...","€ 20,980.-","[\n, Station wagon, \n]","[\n, Used, \n]","[\n, 4, \n]","[\n, Germany, \n]","[\n, S64486GIS, \n]",NaN,"137,375 km",04/2019,[\nAutomatic\n],Diesel (Particle filter),Blue,NaN,"[Fahrzeugnummer: S64486GIS, Herzlichen Dank f...",Dealer,"[\n, 5, \n]",[\n110 kW (150 hp)\n],"[\n1,968 cc\n]",[\n7\n],130 g/km (comb.),Energy-Blau,"[\n, 4WD, \n]",[\n4\n],"[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...","[Armrest, Automatic climate control, 2 zones, ...","[Bluetooth, CD player, Digital cockpit, Hands-...","[ABS, Adaptive Cruise Control, Central door lo...","[Alloy wheels, Ambient lighting, Automatically...","[\n1,523 kg\n]","[\n, 8004/ANQ, \n]",New,NaN,Yes,NaN,Euro 6d-TEMP,4 (Green),NaN,Cloth,2019.00,"[[137,375 km, 04/2019], 1]",NaN,NaN,B,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12362,SEAT Ibiza,1.4TDI CR S&S Style 105,\nSEAT\n,"[\n, Ibiza ,\n]","AV. FERROCARRILS CATALANS 259, 08940 CORNELLA...","€ 9,900.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]","[\n, 7236465, \n]","[\n, 12 months, \n]","82,160 km",02/2017,[\nManual\n],Diesel,Black,NaN,"[¡PERFECTAS CONDICIONES!, Pocos kilómetros, mu...",Dealer,"[\n, 5, \n]",[\n77 kW (105 hp)\n],"[\n1,422 cc\n]",[\n5\n],NaN,NaN,"[\n, Front, \n]",[\n3\n],"[[3.9 l/100 km (comb.)], [4.4 l/100 km (city)]...","[Air conditioning, Cruise control, Electrical ...","[Bluetooth, On-board computer]","[ABS, Central door lock, Fog lights, Isofix, P...",[Alloy wheels],"[\n1,161 kg\n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df.isnull().sum()

make_model                     850
short_description              850
make                           850
model                          850
location                       850
price                          850
Body type                      850
Type                           850
Doors                         1209
Country version              12591
Offer number                  6380
Warranty                     13696
Mileage                        851
First registration             852
Gearbox                       1098
Fuel type                     2637
Colour                        2574
Paint                        14985
desc                          1433
seller                         850
Seats                         3975
Power                         1422
Engine size                   2253
Gears                        10526
CO₂-emissions                10886
Manufacturer colour           7693
Drivetrain                   12587
Cylinders                    10628
Fuel consumption              6095
\nComfort & Convenience\n     4047
\nEntertainment & Media\n     5836
\nSafety & Security\n         4065
\nExtras\n                    6000
Empty weight                 11722
Model code                   21113
General inspection           17226
Last service                 27477
Full service history         16915
Non-smoker vehicle           17886
Emission class               11621
Emissions sticker            20066
Upholstery colour            14911
Upholstery                   10870
Production date              23572
Previous owner               15465
Other fuel types             27167
Power consumption            28965
Energy efficiency class      21676
CO₂-efficiency               21676
Fuel consumption (WLTP)      29380
CO₂-emissions (WLTP)         29364
Available from               29087
Taxi or rental car           29058
Availability                 29179
Last timing belt change      28908
Electric Range (WLTP)        29464
Power consumption (WLTP)     29464
Battery Ownership            29473
dtype: int64

In [152]:
df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO₂-emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nSafety & Security\n', '\nExtras\n',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership'],
      dtype='object')

In [153]:
round(df.isnull().sum()/df.shape[0] * 100, 2).sort_values()

make_model                   2.88
short_description            2.88
make                         2.88
model                        2.88
location                     2.88
price                        2.88
Body type                    2.88
Type                         2.88
seller                       2.88
Mileage                      2.89
First registration           2.89
Gearbox                      3.72
Doors                        4.10
Power                        4.82
desc                         4.86
Engine size                  7.64
Colour                       8.73
Fuel type                    8.95
Seats                       13.48
\nComfort & Convenience\n   13.73
\nSafety & Security\n       13.79
\nEntertainment & Media\n   19.80
\nExtras\n                  20.35
Fuel consumption            20.68
Offer number                21.64
Manufacturer colour         26.10
Gears                       35.71
Cylinders                   36.05
Upholstery                  36.87
CO₂-emissions               36.93
Emission class              39.42
Empty weight                39.76
Drivetrain                  42.70
Country version             42.71
Warranty                    46.46
Upholstery colour           50.58
Paint                       50.83
Previous owner              52.46
Full service history        57.38
General inspection          58.43
Non-smoker vehicle          60.67
Emissions sticker           68.07
Model code                  71.62
Energy efficiency class     73.53
CO₂-efficiency              73.53
Production date             79.96
Other fuel types            92.15
Last service                93.21
Last timing belt change     98.06
Power consumption           98.25
Taxi or rental car          98.57
Available from              98.67
Availability                98.98
CO₂-emissions (WLTP)        99.61
Fuel consumption (WLTP)     99.66
Power consumption (WLTP)    99.95
Electric Range (WLTP)       99.95
Battery Ownership           99.98
dtype: float64

In [154]:
df.drop(labels=['short_description','make', 'model','Type','Offer number','desc','CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership','Other fuel types','Power consumption','Last service','Model code'],axis=1, inplace=True)

In [155]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,"€ 16,950.-","€ 80,900.-","€ 69,900.-","€ 46,990.-","€ 16,800.-"
Body type,"[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
Doors,"[\n, 5, \n]","[\n, 4, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Country version,"[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]"
Warranty,"[\n, 24 months, \n]","[\n, 24 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]"
Mileage,"120,200 km","5,000 km","18,900 km","18,995 km","197,000 km"
First registration,06/2016,06/2022,07/2020,01/2020,09/2015
Gearbox,[\nManual\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n]
Fuel type,Diesel,Electric,Gasoline,Gasoline,Diesel
Colour,Black,NaN,Grey,Yellow,White
Paint,Metallic,NaN,NaN,NaN,Metallic
seller,Dealer,Dealer,Dealer,Dealer,Dealer
Seats,NaN,"[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
Power,NaN,[\n215 kW (292 hp)\n],[\n310 kW (421 hp)\n],[\n225 kW (306 hp)\n],[\n100 kW (136 hp)\n]
Engine size,NaN,[\n1 cc\n],"[\n1,991 cc\n]","[\n1,991 cc\n]","[\n2,143 cc\n]"
Gears,NaN,[\n9\n],[\n8\n],[\n7\n],[\n7\n]
CO₂-emissions,NaN,0 g/km (comb.),NaN,NaN,NaN
Manufacturer colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
Drivetrain,NaN,NaN,"[\n, 4WD, \n]","[\n, 4WD, \n]","[\n, 4WD, \n]"
Cylinders,NaN,NaN,[\n4\n],[\n4\n],[\n4\n]
Fuel consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
\nComfort & Convenience\n,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Electrical side mirrors, Mu..."
\nEntertainment & Media\n,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
\nSafety & Security\n,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
\nExtras\n,NaN,NaN,NaN,[Sport seats],NaN
Empty weight,NaN,NaN,NaN,NaN,"[\n1,545 kg\n]"
General inspection,NaN,NaN,NaN,NaN,NaN
Full service history,NaN,NaN,NaN,NaN,NaN
Non-smoker vehicle,NaN,NaN,NaN,NaN,NaN
Emission class,NaN,NaN,NaN,NaN,NaN
Emissions sticker,NaN,NaN,NaN,NaN,NaN
Upholstery colour,NaN,NaN,NaN,NaN,NaN
Upholstery,NaN,NaN,NaN,NaN,NaN
Production date,NaN,NaN,NaN,NaN,NaN
Previous owner,NaN,NaN,NaN,NaN,NaN
Energy efficiency class,NaN,NaN,NaN,NaN,NaN

In [156]:
for i in df.columns:
    df.rename(columns={i:i.lower().replace(' & ','_').replace(' ','_').replace('\n','').replace('-','_')},inplace = True)

In [157]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
location,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...","APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES","PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...","Carrer de Provença, 31 Local, 8029 BARCELONA, ES","CARRIL ARAGONES 4, 30007 CASILLAS, ES"
price,"€ 16,950.-","€ 80,900.-","€ 69,900.-","€ 46,990.-","€ 16,800.-"
body_type,"[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]","[\n, Compact, \n]"
doors,"[\n, 5, \n]","[\n, 4, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
country_version,"[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]","[\n, Spain, \n]"
warranty,"[\n, 24 months, \n]","[\n, 24 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]","[\n, 12 months, \n]"
mileage,"120,200 km","5,000 km","18,900 km","18,995 km","197,000 km"
first_registration,06/2016,06/2022,07/2020,01/2020,09/2015
gearbox,[\nManual\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n],[\nAutomatic\n]
fuel_type,Diesel,Electric,Gasoline,Gasoline,Diesel
colour,Black,NaN,Grey,Yellow,White
paint,Metallic,NaN,NaN,NaN,Metallic
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,"[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]","[\n, 5, \n]"
power,NaN,[\n215 kW (292 hp)\n],[\n310 kW (421 hp)\n],[\n225 kW (306 hp)\n],[\n100 kW (136 hp)\n]
engine_size,NaN,[\n1 cc\n],"[\n1,991 cc\n]","[\n1,991 cc\n]","[\n2,143 cc\n]"
gears,NaN,[\n9\n],[\n8\n],[\n7\n],[\n7\n]
co₂_emissions,NaN,0 g/km (comb.),NaN,NaN,NaN
manufacturer_colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
drivetrain,NaN,NaN,"[\n, 4WD, \n]","[\n, 4WD, \n]","[\n, 4WD, \n]"
cylinders,NaN,NaN,[\n4\n],[\n4\n],[\n4\n]
fuel_consumption,NaN,NaN,"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...","[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]..."
comfort_convenience,NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Air conditioning, Electrical side mirrors, Mu..."
entertainment_media,NaN,NaN,NaN,[USB],"[Bluetooth, CD player, MP3, USB]"
safety_security,NaN,NaN,NaN,"[ABS, Central door lock, Driver-side airbag, E...","[ABS, Central door lock, Driver-side airbag, E..."
extras,NaN,NaN,NaN,[Sport seats],NaN
empty_weight,NaN,NaN,NaN,NaN,"[\n1,545 kg\n]"
general_inspection,NaN,NaN,NaN,NaN,NaN
full_service_history,NaN,NaN,NaN,NaN,NaN
non_smoker_vehicle,NaN,NaN,NaN,NaN,NaN
emission_class,NaN,NaN,NaN,NaN,NaN
emissions_sticker,NaN,NaN,NaN,NaN,NaN
upholstery_colour,NaN,NaN,NaN,NaN,NaN
upholstery,NaN,NaN,NaN,NaN,NaN
production_date,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN

1.1 MAKE MODEL

In [158]:
df["make_model"]

0           Mercedes-Benz A 160
1         Mercedes-Benz EQE 350
2        Mercedes-Benz A 45 AMG
3        Mercedes-Benz A 35 AMG
4        Mercedes-Benz A 45 AMG
                  ...
29475                 Volvo S40
29476                 Volvo C30
29477                 Volvo S90
29478                 Volvo S80
29479                       NaN
Name: make_model, Length: 29480, dtype: object

In [159]:
df["make_model"].value_counts(dropna=False)

Renault Megane     863
NaN                850
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: make_model, Length: 612, dtype: int64

1.2 LOCATION

In [160]:
df['location']

0        P.I. EL PALMAR C/FORJA 6,  11500 PUERTO DE SAN...
1             APARTADO DE CORREOS 1032,  26140 LOGROÑO, ES
2        PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...
3        Carrer de Provença, 31 Local,  8029 BARCELONA, ES
4                   CARRIL ARAGONES 4,  30007 CASILLAS, ES
                               ...
29475                    Stobbeweg 6,  2461 EX TER AAR, NL
29476               Sur rendez-vous,  5060 Sambreville, BE
29477      Bergambachterstraat 5,  2871 JB SCHOONHOVEN, NL
29478                    Lage Ham 106,  5102 AE DONGEN, NL
29479                                                  NaN
Name: location, Length: 29480, dtype: object

In [161]:
df['location']=df.location.str.split(',').str[-1]

In [162]:
df['location']

0         ES
1         ES
2         ES
3         ES
4         ES
        ...
29475     NL
29476     BE
29477     NL
29478     NL
29479    NaN
Name: location, Length: 29480, dtype: object

In [163]:
df['location'].value_counts(dropna=False)

 DE    12643
 ES     6517
 NL     2929
 IT     2497
 BE     1873
 FR     1473
NaN      850
 AT      660
 LU       35
 DK        1
 EE        1
 BG        1
Name: location, dtype: int64

1.3 PRICE

In [164]:
df["price"]

0        € 16,950.-
1        € 80,900.-
2        € 69,900.-
3        € 46,990.-
4        € 16,800.-
            ...
29475     € 5,499.-
29476     € 7,300.-
29477    € 29,900.-
29478     € 4,440.-
29479           NaN
Name: price, Length: 29480, dtype: object

In [165]:
df['price']=df.price.str.replace(',','').str.extract('(\d{1,8})').astype('float')

In [166]:
df["price"]

0       16950.00
1       80900.00
2       69900.00
3       46990.00
4       16800.00
          ...
29475    5499.00
29476    7300.00
29477   29900.00
29478    4440.00
29479        NaN
Name: price, Length: 29480, dtype: float64

In [167]:
df["price"].value_counts(dropna=False)

NaN         850
14990.00    222
12990.00    219
16990.00    186
19990.00    166
           ...
19112.00      1
30465.00      1
18461.00      1
22649.00      1
4440.00       1
Name: price, Length: 5022, dtype: int64

1.4 BODY_TYPE

In [168]:
df['body_type']

0        [\n, Compact, \n]
1        [\n, Compact, \n]
2        [\n, Compact, \n]
3        [\n, Compact, \n]
4        [\n, Compact, \n]
               ...
29475      [\n, Sedan, \n]
29476      [\n, Sedan, \n]
29477      [\n, Sedan, \n]
29478      [\n, Sedan, \n]
29479                  NaN
Name: body_type, Length: 29480, dtype: object

In [169]:
df['body_type'].value_counts(dropna=False)

[\n, Station wagon, \n]       5448
[\n, Off-Road/Pick-up, \n]    5415
[\n, Compact, \n]             5387
[\n, Sedan, \n]               5043
[\n, Coupe, \n]               4009
[\n, Convertible, \n]         3328
NaN                            850
Name: body_type, dtype: int64

In [170]:
type(df['body_type'][0])

list

In [171]:
#df["body_type"].apply(lambda x :i[0] if type(i) == list else i for i in df["body_type"])

In [172]:
df["body_type"].explode()

0        \n, Compact, \n
1        \n, Compact, \n
2        \n, Compact, \n
3        \n, Compact, \n
4        \n, Compact, \n
              ...
29475      \n, Sedan, \n
29476      \n, Sedan, \n
29477      \n, Sedan, \n
29478      \n, Sedan, \n
29479                NaN
Name: body_type, Length: 29480, dtype: object

In [173]:
df["body_type"].explode().str.strip("\n, ")

0        Compact
1        Compact
2        Compact
3        Compact
4        Compact
          ...
29475      Sedan
29476      Sedan
29477      Sedan
29478      Sedan
29479        NaN
Name: body_type, Length: 29480, dtype: object

In [174]:
df["body_type"]=df["body_type"].explode().str.strip("\n, ")

In [175]:
df['body_type']

0        Compact
1        Compact
2        Compact
3        Compact
4        Compact
          ...
29475      Sedan
29476      Sedan
29477      Sedan
29478      Sedan
29479        NaN
Name: body_type, Length: 29480, dtype: object

In [176]:
df['body_type'].value_counts(dropna=False)

Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4009
Convertible         3328
NaN                  850
Name: body_type, dtype: int64

1.5 DOORS

In [177]:
df['doors']

0        [\n, 5, \n]
1        [\n, 4, \n]
2        [\n, 5, \n]
3        [\n, 5, \n]
4        [\n, 5, \n]
            ...
29475    [\n, 4, \n]
29476    [\n, 3, \n]
29477    [\n, 4, \n]
29478    [\n, 4, \n]
29479            NaN
Name: doors, Length: 29480, dtype: object

In [178]:
df['doors'].str[0]

0        \n, 5, \n
1        \n, 4, \n
2        \n, 5, \n
3        \n, 5, \n
4        \n, 5, \n
           ...
29475    \n, 4, \n
29476    \n, 3, \n
29477    \n, 4, \n
29478    \n, 4, \n
29479          NaN
Name: doors, Length: 29480, dtype: object

In [179]:
#df.doors.str.replace('\n,',' ').str.extract('(\d{1})').astype('float')

In [180]:
df["doors"].explode().str.strip("\n, ")

0          5
1          4
2          5
3          5
4          5
        ...
29475      4
29476      3
29477      4
29478      4
29479    NaN
Name: doors, Length: 29480, dtype: object

In [181]:
df["doors"]=df["doors"].explode().str.strip("\n, ")

In [182]:
df["doors"].value_counts(dropna=False)

5      17481
2       5523
4       3001
3       2259
NaN     1209
6          5
1          2
Name: doors, dtype: int64

!!!!! 1.6 COUNTRY_VERSION

In [183]:
df['country_version']

0          [\n, Spain, \n]
1          [\n, Spain, \n]
2          [\n, Spain, \n]
3          [\n, Spain, \n]
4          [\n, Spain, \n]
               ...
29475                  NaN
29476    [\n, Belgium, \n]
29477                  NaN
29478                  NaN
29479                  NaN
Name: country_version, Length: 29480, dtype: object

In [184]:
#df['country_version'] = [i[0] if type(i) == list else i for i in df["country_version"]]

In [185]:
#df['country_version'] = df.country_version.str.strip('\n,').str.split(",")

In [186]:
df["country_version"].explode().str.strip("\n, ")

0          Spain
1          Spain
2          Spain
3          Spain
4          Spain
          ...
29475        NaN
29476    Belgium
29477        NaN
29478        NaN
29479        NaN
Name: country_version, Length: 29480, dtype: object

In [187]:
df["country_version"] =df["country_version"].explode().str.strip("\n, ")

In [188]:
df["country_version"].value_counts(dropna=False)

NaN               12591
Germany            7939
Spain              6376
Italy               679
Belgium             641
European Union      340
Netherlands         306
Austria             266
France              101
United States        57
Czechia              47
Poland               31
Hungary              21
Denmark              21
Romania              12
Japan                12
Switzerland           9
Luxembourg            9
Sweden                6
Slovenia              5
Slovakia              4
Croatia               3
Bulgaria              1
Malta                 1
Canada                1
Mexico                1
Name: country_version, dtype: int64

1.7 WARRANTY

In [189]:
df['warranty']

0        [\n, 24 months, \n]
1        [\n, 24 months, \n]
2        [\n, 12 months, \n]
3        [\n, 12 months, \n]
4        [\n, 12 months, \n]
                ...
29475                    NaN
29476    [\n, 13 months, \n]
29477    [\n, 12 months, \n]
29478                    NaN
29479                    NaN
Name: warranty, Length: 29480, dtype: object

In [190]:
 df.warranty.apply(lambda x : x[0] if type(x)==list else x)

0        \n, 24 months, \n
1        \n, 24 months, \n
2        \n, 12 months, \n
3        \n, 12 months, \n
4        \n, 12 months, \n
               ...
29475                  NaN
29476    \n, 13 months, \n
29477    \n, 12 months, \n
29478                  NaN
29479                  NaN
Name: warranty, Length: 29480, dtype: object

In [191]:
 df['warranty']=df.warranty.apply(lambda x : x[0] if type(x)==list else x)

In [192]:
df.warranty.str.strip('\n').str.extract('(\d{1,2})').astype('float')

          0
0     24.00
1     24.00
2     12.00
3     12.00
4     12.00
...     ...
29475   NaN
29476 13.00
29477 12.00
29478   NaN
29479   NaN

[29480 rows x 1 columns]

In [193]:
df['warranty']=df.warranty.str.strip('\n').str.extract('(\d{1,2})').astype('float')

In [194]:
df["warranty"].value_counts(dropna=False)

NaN      16015
12.00     9546
24.00     1515
60.00      968
6.00       398
36.00      257
3.00       185
0.00       133
48.00       78
84.00       47
72.00       40
13.00       22
8.00        19
1.00        15
18.00       15
14.00       14
15.00       13
16.00       13
30.00       12
34.00       11
33.00       11
21.00       11
19.00        9
17.00        9
20.00        9
32.00        9
23.00        9
35.00        8
28.00        8
50.00        6
22.00        6
42.00        5
11.00        5
52.00        4
26.00        4
47.00        4
31.00        4
9.00         4
25.00        3
58.00        3
27.00        3
45.00        2
7.00         2
29.00        2
51.00        2
57.00        2
10.00        2
53.00        2
2.00         2
80.00        2
90.00        2
46.00        1
39.00        1
43.00        1
65.00        1
37.00        1
49.00        1
55.00        1
99.00        1
44.00        1
4.00         1
Name: warranty, dtype: int64

1.8 MILEAGE

In [195]:
df['mileage'].head()

0    120,200 km
1      5,000 km
2     18,900 km
3     18,995 km
4    197,000 km
Name: mileage, dtype: object

In [196]:
df['mileage']=df.mileage.str.replace(',','').str.extract('(\d{1,8})').astype('float')

In [197]:
df['mileage'].head()

0   120200.00
1     5000.00
2    18900.00
3    18995.00
4   197000.00
Name: mileage, dtype: float64

In [198]:
df['mileage'].value_counts(dropna=False)

NaN          851
10.00        586
1.00         172
50.00        133
100.00       119
            ...
141589.00      1
59821.00       1
123500.00      1
29781.00       1
230047.00      1
Name: mileage, Length: 14184, dtype: int64

   1.9 FIRST REGISTRATION

In [199]:
df['first_registration'].head()

0    06/2016
1    06/2022
2    07/2020
3    01/2020
4    09/2015
Name: first_registration, dtype: object

In [200]:
df['first_registration'] = df.first_registration.str.strip('/').str.extract('(\d{3,6})').astype('float')

In [201]:
df['first_registration'].head()

0   2016.00
1   2022.00
2   2020.00
3   2020.00
4   2015.00
Name: first_registration, dtype: float64

In [202]:
df["first_registration"].value_counts(dropna=False)

2019.00    3667
2018.00    3492
2022.00    3086
2021.00    2870
2020.00    2473
2017.00    2426
2016.00    1486
2015.00    1237
2014.00     936
NaN         852
2013.00     703
2012.00     655
2011.00     642
2010.00     559
2007.00     492
2008.00     441
2009.00     424
2006.00     395
2005.00     287
2004.00     247
2003.00     211
2001.00     191
2002.00     187
2000.00     160
1999.00     144
1998.00      91
1997.00      81
1994.00      80
1995.00      78
1996.00      71
1991.00      62
1992.00      60
1993.00      55
1990.00      54
1966.00      41
1967.00      34
1988.00      33
1965.00      32
1973.00      29
1972.00      29
1968.00      27
1987.00      26
1978.00      23
1986.00      22
1989.00      20
1970.00      19
1985.00      18
1971.00      18
1979.00      17
1969.00      17
1983.00      16
1975.00      14
1977.00      13
1982.00      11
1964.00      11
1976.00      11
1984.00      10
1974.00       9
1963.00       9
1981.00       9
1962.00       8
1961.00       7
1955.00       6
1980.00       6
1954.00       4
1957.00       4
1958.00       4
1960.00       4
1932.00       3
1900.00       2
1937.00       2
1959.00       2
1952.00       2
1930.00       2
1953.00       2
1933.00       1
2025.00       1
1946.00       1
2023.00       1
1929.00       1
1956.00       1
2202.00       1
1928.00       1
1950.00       1
Name: first_registration, dtype: int64

In [203]:
df['age'] = 2022 - df['first_registration']

In [204]:
df.drop(['first_registration'], axis=1, inplace=True)

In [205]:
df['age']

0        6.00
1        0.00
2        2.00
3        2.00
4        7.00
         ...
29475   18.00
29476   11.00
29477    5.00
29478   20.00
29479     NaN
Name: age, Length: 29480, dtype: float64

In [206]:
df['age'].value_counts(dropna=False)

3.00       3667
4.00       3492
0.00       3086
1.00       2870
2.00       2473
5.00       2426
6.00       1486
7.00       1237
8.00        936
NaN         852
9.00        703
10.00       655
11.00       642
12.00       559
15.00       492
14.00       441
13.00       424
16.00       395
17.00       287
18.00       247
19.00       211
21.00       191
20.00       187
22.00       160
23.00       144
24.00        91
25.00        81
28.00        80
27.00        78
26.00        71
31.00        62
30.00        60
29.00        55
32.00        54
56.00        41
55.00        34
34.00        33
57.00        32
49.00        29
50.00        29
54.00        27
35.00        26
44.00        23
36.00        22
33.00        20
52.00        19
37.00        18
51.00        18
43.00        17
53.00        17
39.00        16
47.00        14
45.00        13
40.00        11
58.00        11
46.00        11
38.00        10
48.00         9
59.00         9
41.00         9
60.00         8
61.00         7
67.00         6
42.00         6
68.00         4
65.00         4
64.00         4
62.00         4
90.00         3
122.00        2
85.00         2
63.00         2
70.00         2
92.00         2
69.00         2
89.00         1
-3.00         1
76.00         1
-1.00         1
93.00         1
66.00         1
-180.00       1
94.00         1
72.00         1
Name: age, dtype: int64

In [207]:
!!!! ileriki asamalarda atilacak missing veriler vardir !!!!

["'!!' is not recognized as an internal or external command,",
 'operable program or batch file.']

1.10 GEARBOX

In [208]:
df['gearbox']

0           [\nManual\n]
1        [\nAutomatic\n]
2        [\nAutomatic\n]
3        [\nAutomatic\n]
4        [\nAutomatic\n]
              ...
29475    [\nAutomatic\n]
29476       [\nManual\n]
29477    [\nAutomatic\n]
29478    [\nAutomatic\n]
29479                NaN
Name: gearbox, Length: 29480, dtype: object

In [209]:
df['gearbox'].value_counts(dropna=False)

[\nManual\n]            17023
[\nAutomatic\n]         11287
NaN                      1098
[\nSemi-automatic\n]       72
Name: gearbox, dtype: int64

In [210]:
df["gearbox"] = df['gearbox'].str[0].str.strip('\n')

In [211]:
df['gearbox']

0           Manual
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
29475    Automatic
29476       Manual
29477    Automatic
29478    Automatic
29479          NaN
Name: gearbox, Length: 29480, dtype: object

In [212]:
df['gearbox'].value_counts(dropna=False)

Manual            17023
Automatic         11287
NaN                1098
Semi-automatic       72
Name: gearbox, dtype: int64

1.11 FUEL TYPE

In [213]:
df['fuel_type']

0                          Diesel
1                        Electric
2                        Gasoline
3                        Gasoline
4                          Diesel
                   ...
29475                    Gasoline
29476    Diesel (Particle filter)
29477                    Gasoline
29478                    Super 95
29479                         NaN
Name: fuel_type, Length: 29480, dtype: object

In [214]:
df.fuel_type.str.split("/").str[0].str.strip()

0                          Diesel
1                        Electric
2                        Gasoline
3                        Gasoline
4                          Diesel
                   ...
29475                    Gasoline
29476    Diesel (Particle filter)
29477                    Gasoline
29478                    Super 95
29479                         NaN
Name: fuel_type, Length: 29480, dtype: object

In [215]:
df['fuel_type']=df.fuel_type.str.split("/").str[0].str.strip()

In [216]:
df.fuel_type.str.split("(").str[0].str.strip()

0          Diesel
1        Electric
2        Gasoline
3        Gasoline
4          Diesel
           ...
29475    Gasoline
29476      Diesel
29477    Gasoline
29478    Super 95
29479         NaN
Name: fuel_type, Length: 29480, dtype: object

In [217]:
df['fuel_type']=df.fuel_type.str.split("(").str[0].str.strip()

In [218]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
petroleum_gas = ["Liquid petroleum gas", "CNG", "LPG", "Domestic gas H", "Domestic gas L", "Biogas", "Hydrogen", "Ethanol"]

def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in petroleum_gas:
        return "Liquid/Natural Gas"
    else:
        return x

df["fuel_type"] = df["fuel_type"].apply(fueltype)

In [219]:
df["fuel_type"].value_counts(dropna=False)

Benzine               17546
Diesel                 8727
NaN                    2637
Liquid/Natural Gas      382
Electric                188
Name: fuel_type, dtype: int64

1.12 COLOUR

In [220]:
df['colour']

0         Black
1           NaN
2          Grey
3        Yellow
4         White
          ...
29475      Grey
29476      Grey
29477      Blue
29478      Grey
29479       NaN
Name: colour, Length: 29480, dtype: object

In [221]:
df['colour'].value_counts(dropna=False)

Black     6473
Grey      5998
White     5185
Blue      3478
NaN       2574
Red       2242
Silver    1622
Green      450
Brown      437
Orange     288
Beige      278
Yellow     230
Violet      98
Bronze      65
Gold        62
Name: colour, dtype: int64

1.13 PAINT

In [222]:
df['paint']

0        Metallic
1             NaN
2             NaN
3             NaN
4        Metallic
           ...
29475         NaN
29476    Metallic
29477    Metallic
29478         NaN
29479         NaN
Name: paint, Length: 29480, dtype: object

In [223]:
df['paint'].value_counts(dropna=False)

NaN          14985
Metallic     14494
Uni/basic        1
Name: paint, dtype: int64

1,14 SELLER

In [224]:
df['seller']

0        Dealer
1        Dealer
2        Dealer
3        Dealer
4        Dealer
          ...
29475    Dealer
29476    Dealer
29477    Dealer
29478    Dealer
29479       NaN
Name: seller, Length: 29480, dtype: object

In [225]:
df['seller'].value_counts(dropna=False)

Dealer            26318
Private seller     2312
NaN                 850
Name: seller, dtype: int64

In [226]:
df.head()

,make_model,location,price,body_type,doors,country_version,warranty,mileage,gearbox,fuel_type,colour,paint,seller,seats,power,engine_size,gears,co₂_emissions,manufacturer_colour,drivetrain,cylinders,fuel_consumption,comfort_convenience,entertainment_media,safety_security,extras,empty_weight,general_inspection,full_service_history,non_smoker_vehicle,emission_class,emissions_sticker,upholstery_colour,upholstery,production_date,previous_owner,energy_efficiency_class,age
0,Mercedes-Benz A 160,ES,16950.00,Compact,5,Spain,24.00,120200.00,Manual,Diesel,Black,Metallic,Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00
1,Mercedes-Benz EQE 350,ES,80900.00,Compact,4,Spain,24.00,5000.00,Automatic,Electric,NaN,NaN,Dealer,"[\n, 5, \n]",[\n215 kW (292 hp)\n],[\n1 cc\n],[\n9\n],0 g/km (comb.),Negro Obsidiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,Mercedes-Benz A 45 AMG,ES,69900.00,Compact,5,Spain,12.00,18900.00,Automatic,Benzine,Grey,NaN,Dealer,"[\n, 5, \n]",[\n310 kW (421 hp)\n],"[\n1,991 cc\n]",[\n8\n],NaN,Mountaingrau magno,"[\n, 4WD, \n]",[\n4\n],"[[8.4 l/100 km (comb.)], [10.9 l/100 km (city)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
3,Mercedes-Benz A 35 AMG,ES,46990.00,Compact,5,Spain,12.00,18995.00,Automatic,Benzine,Yellow,NaN,Dealer,"[\n, 5, \n]",[\n225 kW (306 hp)\n],"[\n1,991 cc\n]",[\n7\n],NaN,Amarillo Sol,"[\n, 4WD, \n]",[\n4\n],"[[7.3 l/100 km (comb.)], [9.3 l/100 km (city)]...","[Air conditioning, Automatic climate control, ...",[USB],"[ABS, Central door lock, Driver-side airbag, E...",[Sport seats],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
4,Mercedes-Benz A 45 AMG,ES,16800.00,Compact,5,Spain,12.00,197000.00,Automatic,Diesel,White,Metallic,Dealer,"[\n, 5, \n]",[\n100 kW (136 hp)\n],"[\n2,143 cc\n]",[\n7\n],NaN,NaN,"[\n, 4WD, \n]",[\n4\n],"[[4.9 l/100 km (comb.)], [5.7 l/100 km (city)]...","[Air conditioning, Electrical side mirrors, Mu...","[Bluetooth, CD player, MP3, USB]","[ABS, Central door lock, Driver-side airbag, E...",NaN,"[\n1,545 kg\n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00

1.15 SEATS

In [227]:
df['seats'].value_counts()

[\n, 5, \n]     18308
[\n, 4, \n]      5390
[\n, 2, \n]      1186
[\n, 7, \n]       488
[\n, 8, \n]        43
[\n, 9, \n]        35
[\n, 3, \n]        25
[\n, 6, \n]        12
[\n, 0, \n]         9
[\n, 1, \n]         7
[\n, 17, \n]        2
Name: seats, dtype: int64

In [228]:
df['seats'] = df['seats'].apply(lambda t: int(str(t).split(',')[1].strip()) if pd.notnull(t) else t)
df['seats'].value_counts()

5.00     18308
4.00      5390
2.00      1186
7.00       488
8.00        43
9.00        35
3.00        25
6.00        12
0.00         9
1.00         7
17.00        2
Name: seats, dtype: int64

1.16 POWER

In [229]:
df['power'].value_counts()

[\n110 kW (150 hp)\n]      1992
[\n96 kW (131 hp)\n]       1356
[\n88 kW (120 hp)\n]       1182
[\n81 kW (110 hp)\n]       1166
[\n66 kW (90 hp)\n]        1110
                           ...
[\n746 kW (1,014 hp)\n]       1
[\n570 kW (775 hp)\n]         1
[\n471 kW (640 hp)\n]         1
[\n179 kW (243 hp)\n]         1
[\n26 kW (35 hp)\n]           1
Name: power, Length: 351, dtype: int64

In [230]:
df['power'] = df['power'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['power'].value_counts()

110.00    1992
96.00     1356
88.00     1182
81.00     1166
66.00     1110
          ...
746.00       1
570.00       1
471.00       1
179.00       1
26.00        1
Name: power, Length: 351, dtype: int64

1.17 ENGINE_SIZE

In [231]:
df['engine_size'].value_counts()

[\n1,598 cc\n]    2099
[\n999 cc\n]      2068
[\n1,969 cc\n]    1929
[\n1,461 cc\n]    1110
[\n1,998 cc\n]    1000
                  ...
[\n2,753 cc\n]       1
[\n2,495 cc\n]       1
[\n200 cc\n]         1
[\n3,224 cc\n]       1
[\n2,473 cc\n]       1
Name: engine_size, Length: 467, dtype: int64

In [232]:
df['engine_size']=df['engine_size'].apply(lambda t: t[0].replace(',','') if pd.notnull(t) else t)
df['engine_size'] = df['engine_size'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['engine_size'].value_counts()

1598.00    2099
999.00     2068
1969.00    1929
1461.00    1110
1998.00    1000
           ...
2753.00       1
2495.00       1
200.00        1
3224.00       1
2473.00       1
Name: engine_size, Length: 467, dtype: int64

1.18 GEARS

In [233]:
df['gears'].value_counts()

[\n6\n]     8412
[\n5\n]     5335
[\n7\n]     1738
[\n8\n]     1690
[\n1\n]      712
[\n9\n]      642
[\n4\n]      256
[\n10\n]     112
[\n0\n]       31
[\n3\n]       24
[\n2\n]        2
Name: gears, dtype: int64

In [234]:
df['gears'] = df['gears'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['gears'].value_counts()

6.00     8412
5.00     5335
7.00     1738
8.00     1690
1.00      712
9.00      642
4.00      256
10.00     112
0.00       31
3.00       24
2.00        2
Name: gears, dtype: int64

1.19 co₂_emissions

In [235]:
df['co₂_emissions'].value_counts()

0 g/km (comb.)       1038
119 g/km (comb.)      393
124 g/km (comb.)      340
129 g/km (comb.)      319
114 g/km (comb.)      313
                     ...
7 g/km (comb.)          1
80 g/km (comb.)         1
196  g/km (comb.)       1
100  g/km (comb.)       1
53 g/km (comb.)         1
Name: co₂_emissions, Length: 347, dtype: int64

In [236]:
# The 'CO₂-emissions' column can be dropped later, because there are several other columns showing the similar feature, such as 'Emission class and 'Emisssions sticker'. .

df['co₂_emissions'] = df['co₂_emissions'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['co₂_emissions'].value_counts()

0.00      1040
119.00     393
124.00     340
129.00     319
114.00     313
          ...
272.00       1
344.00       1
342.00       1
398.00       1
53.00        1
Name: co₂_emissions, Length: 326, dtype: int64

1.20 manufacturer_colour

In [237]:
# The 'Manufacrurer colour' column can be dropped later, because it has 4963 distinct values with description of colours by manufacturers in different languages. The 'Colour' column can be used instead. It has 14 distinct values already including almost all auto colours.

df['manufacturer_colour'].value_counts()

Blanco                            1235
Gris                               671
Azul                               552
Negro                              546
Rojo                               381
                                  ...
Colore esterno (snowflake whit       1
Pompeigraumetallic                   1
Cararragrau                          1
ICE WHITE (wit metallic)             1
Denim Blue metallic (blauw met       1
Name: manufacturer_colour, Length: 4963, dtype: int64

1.21 DRIVETRAIN

In [238]:
df['drivetrain'].value_counts()

[\n, Front, \n]    12066
[\n, 4WD, \n]       3252
[\n, Rear, \n]      1575
Name: drivetrain, dtype: int64

In [239]:
df['drivetrain']=df['drivetrain'].apply(lambda t: str(t).split(',')[1].strip() if pd.notnull(t) else t)
df['drivetrain'].value_counts()

Front    12066
4WD       3252
Rear      1575
Name: drivetrain, dtype: int64

1:22 cylinders

In [240]:
df['cylinders'].value_counts()

[\n4\n]     13068
[\n3\n]      3258
[\n6\n]      1013
[\n5\n]       799
[\n8\n]       539
[\n2\n]       103
[\n0\n]        35
[\n1\n]        21
[\n12\n]        8
[\n7\n]         6
[\n26\n]        1
[\n16\n]        1
Name: cylinders, dtype: int64

In [241]:
df['cylinders'] = df['cylinders'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['cylinders'].value_counts()

4.00     13068
3.00      3258
6.00      1013
5.00       799
8.00       539
2.00       103
0.00        35
1.00        21
12.00        8
7.00         6
26.00        1
16.00        1
Name: cylinders, dtype: int64

1.23 fuel_consumption

In [242]:
df['fuel_consumption'].value_counts()

[[0 l/100 km (comb.)]]                                                         330
[[0 l/100 km (comb.)], [0 l/100 km (city)], [0 l/100 km (country)]]            306
[[3.4 l/100 km (comb.)], [3.7 l/100 km (city)], [3.2 l/100 km (country)]]      170
[[4 l/100 km (comb.)]]                                                         149
[[3.9 l/100 km (comb.)]]                                                       133
                                                                              ...
[[5.2 l/100 km (comb.)], [5.6 l/100 km (city)], [5 l/100 km (country)]]          1
[[5 l/100 km (comb.)], [4.4 l/100 km (city)], [3.6 l/100 km (country)]]          1
[[5.5 l/100 km (comb.)], [4.8 l/100 km (city)], [3.9 l/100 km (country)]]        1
[[4.8 l/100 km (comb.)], [5.5 l/100 km (city)], [4.3 l/100 km (country)]]        1
[[10.4 l/100 km (comb.)], [15.3 l/100 km (city)], [7.6 l/100 km (country)]]      1
Name: fuel_consumption, Length: 3452, dtype: int64

In [243]:
df['fuel_consumption'] = df['fuel_consumption'].astype('str')
df['fuel_consumption'] = df['fuel_consumption'].str.extract('(\d+.\d+|\d+).+com', expand=True).astype(float)
df['fuel_consumption'].value_counts()

5.00     831
4.90     811
4.50     690
5.10     647
0.00     645
        ...
16.00      1
57.00      1
61.00      1
14.50      1
44.00      1
Name: fuel_consumption, Length: 160, dtype: int64

1.24 comfort_convenience

In [244]:
#???
df['comfort_convenience'].value_counts()

[Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows]                                                                                                                                          244
[Air conditioning, Automatic climate control, Cruise control]                                                                                                                                                                                                 171
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows]                                                                                                                          168
[Air conditioning]                                                                                                                                                                                                                                            157
[Power windows]                                                                                                                                                                                                                                               150
                                                                                                                                                                                                                                                             ...
[Air conditioning, Automatic climate control, Multi-function steering wheel, Parking assist system sensors front, Parking assist system sensors rear, Split rear seats]                                                                                         1
[Air conditioning, Electrical side mirrors, Leather steering wheel, Power windows, Seat heating, Tinted windows, Wind deflector]                                                                                                                                1
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows, Tinted windows]                                                                                                                                                                         1
[Air conditioning, Automatic climate control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]      1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows]                                                     1
Name: comfort_convenience, Length: 14438, dtype: int64

In [245]:
df["comfort_convenience"] = [",".join(item) if type(item) == list else item for item in df["comfort_convenience"]]

In [246]:
df["comfort_convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                            4047
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: comfort_convenience, Length: 14439, dtype: int64

1.25 entertainment_media

In [247]:
#???
df['entertainment_media'].value_counts()

[Bluetooth, USB]                                                                                                                                                             753
[Bluetooth]                                                                                                                                                                  665
[On-board computer]                                                                                                                                                          662
[CD player, On-board computer, Radio]                                                                                                                                        644
[Radio]                                                                                                                                                                      425
                                                                                                                                                                            ...
[Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot]      1
[Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot]            1
[Digital cockpit, Digital radio, On-board computer, Radio]                                                                                                                     1
[Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot]                                                                 1
[Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB]                                                                                              1
Name: entertainment_media, Length: 1944, dtype: int64

In [278]:
df["entertainment_media"] = [",".join(item) if type(item) == list else item for item in df["entertainment_media"]]

In [279]:
df['entertainment_media'].value_counts()

Bluetooth, USB                                                                                                                                                             753
Bluetooth                                                                                                                                                                  665
On-board computer                                                                                                                                                          662
CD player, On-board computer, Radio                                                                                                                                        644
Radio                                                                                                                                                                      425
                                                                                                                                                                          ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot      1
Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot            1
Digital cockpit, Digital radio, On-board computer, Radio                                                                                                                     1
Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot                                                                 1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                              1
Name: entertainment_media, Length: 1944, dtype: int64

1.26 safety_security

In [248]:
df['safety_security'].value_counts()

[Isofix]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       380
[ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                                                                                                                                            328
[ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control]                                                                                                                                                                                                                                                                                                                                                                                        125
[ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Power steering, Side airbag]                                                                                                                                                                                                                                                                                                                                                                                                    121
[ABS, Fog lights, Side airbag]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 100
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
[Daytime running lights, Emergency brake assistant, Fog lights, Isofix, LED Daytime Running Lights, Lane departure warning system, Power steering, Tire pressure monitoring system]                                                                                                                                                                                                                                                                                                                                              1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Full-LED headlights, Glare-free high beam headlights, Immobilizer, Isofix, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                               1
[ABS, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                                                                                                                                                               1
[ABS, Blind spot monitor, Central door lock, Daytime running lights, Distance warning system, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Full-LED headlights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control, Traffic sign recognition]      1
[ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control]                                                                                                                                                                                                                                                                                                             1
Name: safety_security, Length: 12549, dtype: int64

In [280]:
df["safety_security"] = [",".join(item) if type(item) == list else item for item in df["safety_security"]]

In [281]:
df['safety_security'].value_counts()

Isofix                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       380
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                            328
ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                                                                                                        125
ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                                                    121
ABS, Fog lights, Side airbag                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 100
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
Daytime running lights, Emergency brake assistant, Fog lights, Isofix, LED Daytime Running Lights, Lane departure warning system, Power steering, Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                              1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Full-LED headlights, Glare-free high beam headlights, Immobilizer, Isofix, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                               1
ABS, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                                                                                                                                                                               1
ABS, Blind spot monitor, Central door lock, Daytime running lights, Distance warning system, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Full-LED headlights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control, Traffic sign recognition      1
ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                             1
Name: safety_security, Length: 12549, dtype: int64

1.27 EXTRAS

In [249]:
df['extras'].head(15)

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                         [Sport seats]
4                                                   NaN
5     [Alloy wheels (17"), Catalytic Converter, Emer...
6                                                   NaN
7                                                   NaN
8                                       [Sport package]
9                                        [Alloy wheels]
10                              [Alloy wheels, Spoiler]
11                          [Alloy wheels, Sport seats]
12        [Alloy wheels, Sport seats, Sport suspension]
13    [Alloy wheels, Automatically dimming interior ...
14                                                  NaN
Name: extras, dtype: object

In [250]:
df['extras'] = [
    ",".join(item) if type(item) == list else item for item in df['extras']
]

In [251]:
df['extras'].value_counts()

Alloy wheels                                                                                                                                                                        3408
Alloy wheels, Roof rack                                                                                                                                                              380
Alloy wheels, Sport seats                                                                                                                                                            372
Alloy wheels, Touch screen                                                                                                                                                           231
Alloy wheels, Catalytic Converter, Touch screen                                                                                                                                      178
                                                                                                                                                                                    ...
Alloy wheels (18"), Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Headlight washer system, Sport package, Sport seats, Sport suspension, Summer tyres       1
Alloy wheels (18"), Spoiler, Summer tyres, Trailer hitch                                                                                                                               1
All season tyres, Alloy wheels, Automatically dimming interior mirror, Catalytic Converter, Headlight washer system, Ski bag, Sport seats, Trailer hitch, Winter tyres                 1
Alloy wheels, Automatically dimming interior mirror, Headlight washer system, Sport package, Sport seats, Summer tyres                                                                 1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                            1
Name: extras, Length: 9360, dtype: int64

1.28 empty_weight

In [252]:
df['empty_weight'].value_counts()

[\n1,395 kg\n]    233
[\n1,055 kg\n]    224
[\n1,423 kg\n]    216
[\n1,165 kg\n]    200
[\n1,320 kg\n]    192
                 ...
[\n2,655 kg\n]      1
[\n1,058 kg\n]      1
[\n2,091 kg\n]      1
[\n2,497 kg\n]      1
[\n1,391 kg\n]      1
Name: empty_weight, Length: 1218, dtype: int64

In [253]:
df['empty_weight']=df['empty_weight'].apply(lambda t: t[0].replace(',','') if pd.notnull(t) else t)
df['empty_weight'] = df['empty_weight'].apply(lambda t: int(re.findall(r'\d+', str(t))[0]) if pd.notnull(t) else t)
df['empty_weight'].value_counts()

1395.00    233
1055.00    224
1423.00    216
1165.00    200
1320.00    192
          ...
2655.00      1
1058.00      1
2091.00      1
2497.00      1
1391.00      1
Name: empty_weight, Length: 1218, dtype: int64

1.29 model_code

In [254]:
# The 'Model code' column can be dropped later, because 71.62% of the values is null.
#percentage_null.loc['model_code']

1.30 general_inspection

In [255]:
#???
df['general_inspection'].value_counts()

New        5883
05/2023     286
08/2023     280
03/2023     268
06/2023     266
04/2023     262
09/2023     255
07/2023     254
06/2024     216
05/2024     212
01/2023     210
02/2023     209
03/2024     207
07/2024     203
08/2024     187
09/2024     182
11/2023     176
01/2024     164
02/2024     163
04/2024     162
12/2023     160
12/2022     159
10/2023     155
06/2025     147
11/2022     131
08/2025     122
07/2025     110
09/2022      96
03/2025      95
05/2025      93
10/2022      90
04/2025      89
01/2025      75
02/2025      66
09/2025      65
10/2024      64
08/2022      64
12/2024      61
11/2024      50
06/2022      42
07/2022      41
04/2022      34
03/2022      25
05/2022      22
10/2021      17
11/2021      11
01/2022      10
07/2021      10
09/2021       8
08/2021       7
12/2021       7
02/2022       6
05/2026       5
07/2020       5
10/2025       4
05/2021       4
06/2026       4
12/2019       4
06/2021       3
01/2021       3
11/2020       3
04/2026       3
02/2021       2
02/2026       2
12/2025       2
09/2026       2
01/2026       2
12/2020       2
07/2026       2
08/2026       2
02/2027       2
06/2020       2
12/2017       1
10/2020       1
01/2020       1
04/2020       1
10/2019       1
05/2018       1
09/2020       1
07/2019       1
05/2020       1
08/2019       1
03/2026       1
11/2019       1
01/2018       1
07/2017       1
09/2017       1
08/2013       1
08/2020       1
08/2018       1
03/2021       1
Name: general_inspection, dtype: int64

1.31 last_service

In [256]:
# The 'Last service' column can be dropped later, because 93.21% of the values is null.
#percentage_null.loc['last_service']

1.32 full_service_history

In [257]:
df['full_service_history'].value_counts()

Yes    12565
Name: full_service_history, dtype: int64

1.33 non_smoker_vehicle

In [258]:
df['non_smoker_vehicle'].value_counts()

Yes    11594
Name: non_smoker_vehicle, dtype: int64

1.34 emission_class

In [259]:
df['emission_class'].unique()

array([nan, 'Euro 4', 'Euro 6', 'Euro 6d-TEMP', 'Euro 5', 'Euro 6d',
       'Euro 6c', 'Euro 3', 'Euro 2', 'Euro 1'], dtype=object)

In [260]:
df['emission_class'] = df.emission_class.str.strip("dTEMP-c")

In [261]:
df['emission_class'].unique() #dtype:float missig value lari doldurduktan sonra int yapabiliriz.

array([nan, 'uro 4', 'uro 6', 'uro 5', 'uro 3', 'uro 2', 'uro 1'],
      dtype=object)

1.35 emissions_sticker

In [262]:
df['emissions_sticker'] = df['emissions_sticker'].str.strip(" )(1432")
df['emissions_sticker'].unique()

array([nan, 'Green', 'No sticker', 'Yellow', 'Red'], dtype=object)

In [263]:
df['emissions_sticker'].unique()

array([nan, 'Green', 'No sticker', 'Yellow', 'Red'], dtype=object)

1.36 upholstery_colour

In [264]:
df['upholstery_colour'].unique()

array([nan, 'Black', 'Grey', 'Other', 'Blue', 'Brown', 'Beige', 'Red',
       'White', 'Orange', 'Yellow', 'Green'], dtype=object)

In [265]:
colour = ['Black', 'Grey', 'Other', 'Blue', 'Brown', 'Beige', 'Red', 'White', 'Orange', 'Yellow', 'Green']
for i in colour:
    if i=='White':
        df['upholstery_colour'] = df['upholstery_colour'].str.replace(i,'white')
    elif i=='Black':
        df['upholstery_colour'] = df['upholstery_colour'].str.replace(i,'black')
    else :
        df['upholstery_colour'] = df['upholstery_colour'].str.replace(i,'other')

In [266]:
df['upholstery_colour'].unique()

array([nan, 'black', 'other', 'white'], dtype=object)

1.37 upholstery

In [267]:
df['upholstery'].unique()

array([nan, 'Cloth', 'Full leather', 'Part leather', 'Other', 'alcantara',
       'Velour'], dtype=object)

In [268]:
origin = ['Cloth', 'Full leather', 'Part leather', 'Other', 'alcantara',
       'Velour']
for i in origin:
    if i=='Full leather':
        df['upholstery'] = df['upholstery'].str.replace(i,'leather')
    else :
        df['upholstery'] = df['upholstery'].str.replace(i,'other')

In [269]:
df['upholstery'].unique()

array([nan, 'other', 'leather'], dtype=object)

1.38  previous_owner

In [270]:
df['previous_owner'].sample()

21587    [[241,080 km, 03/2010], 3]
Name: previous_owner, dtype: object

In [271]:
df['previous_owner'] = df['previous_owner'].str[-1].astype(float)
df['previous_owner'].unique()

array([nan,  2.,  1.,  3.,  6.,  4.,  8.,  5.,  7.,  9., 10., 14., 13.,
       12.])

1.39 energy_efficiency_class

In [272]:
df['energy_efficiency_class'].unique()

array([nan, 'C', 'B', 'E', 'D', 'A', 'G', 'F', 'A+', 'A+++', 'A++'],
      dtype=object)

In [273]:
df['energy_efficiency_class'] = df['energy_efficiency_class'].str.strip('+')

e_class = ['C', 'B', 'E', 'D', 'G', 'F']
for i in e_class:
   df['energy_efficiency_class'] = df['energy_efficiency_class'].str.replace(i,'other')

In [274]:
df['energy_efficiency_class'].unique()

array([nan, 'other', 'A'], dtype=object)

In [282]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
location,ES,ES,ES,ES,ES
price,16950.00,80900.00,69900.00,46990.00,16800.00
body_type,Compact,Compact,Compact,Compact,Compact
doors,5,4,5,5,5
country_version,Spain,Spain,Spain,Spain,Spain
warranty,24.00,24.00,12.00,12.00,12.00
mileage,120200.00,5000.00,18900.00,18995.00,197000.00
gearbox,Manual,Automatic,Automatic,Automatic,Automatic
fuel_type,Diesel,Electric,Benzine,Benzine,Diesel
colour,Black,NaN,Grey,Yellow,White
paint,Metallic,NaN,NaN,NaN,Metallic
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,5.00,5.00,5.00,5.00
power,NaN,215.00,310.00,225.00,100.00
engine_size,NaN,1.00,1991.00,1991.00,2143.00
gears,NaN,9.00,8.00,7.00,7.00
co₂_emissions,NaN,0.00,NaN,NaN,NaN
manufacturer_colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
drivetrain,NaN,NaN,4WD,4WD,4WD
cylinders,NaN,NaN,4.00,4.00,4.00
fuel_consumption,NaN,NaN,8.40,7.30,4.90
comfort_convenience,NaN,NaN,NaN,"Air conditioning, Automatic climate control, P...","Air conditioning, Electrical side mirrors, Mul..."
entertainment_media,NaN,NaN,NaN,USB,"Bluetooth, CD player, MP3, USB"
safety_security,NaN,NaN,NaN,"ABS, Central door lock, Driver-side airbag, El...","ABS, Central door lock, Driver-side airbag, El..."
extras,NaN,NaN,NaN,Sport seats,NaN
empty_weight,NaN,NaN,NaN,NaN,1545.00
general_inspection,NaN,NaN,NaN,NaN,NaN
full_service_history,NaN,NaN,NaN,NaN,NaN
non_smoker_vehicle,NaN,NaN,NaN,NaN,NaN
emission_class,NaN,NaN,NaN,NaN,NaN
emissions_sticker,NaN,NaN,NaN,NaN,NaN
upholstery_colour,NaN,NaN,NaN,NaN,NaN
upholstery,NaN,NaN,NaN,NaN,NaN
production_date,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN
age,6.00,0.00,2.00,2.00,7.00

In [283]:
df.to_csv('df_car_cleaned.csv')

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)