<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

# Example -1 Inclass Data

In [1]:
import pandas as pd
import seaborn as sns
from scipy.stats import chi2_contingency

In [2]:
table = [[15, 21, 45, 13],[26, 31, 34, 5], [33, 17, 49, 20]]

In [ ]:
# Ho: The two categorical variables are independent.
# H1: The two categorical variables are dependent.

In [3]:
stat, p, dof, expected = chi2_contingency(table)

In [4]:
print('stat=%.3f, p=%.4f' % (stat, p))
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. The two categorical variables are dependent')

stat=19.178, p=0.0039
We reject the null hypothesis. The two categorical variables are dependent

In [5]:
expected

array([[22.51132686, 20.99029126, 38.93851133, 11.55987055],
       [22.99029126, 21.4368932 , 39.76699029, 11.80582524],
       [28.49838188, 26.57281553, 49.29449838, 14.63430421]])

In [6]:
dof

6

In [8]:
# We can get the same result with manual method
from scipy import stats
1 - stats.chi2.cdf(19.17, 6)

0.0038859579107577424

# Example -2 Titanic Dataset

In [9]:
titanic = sns.load_dataset("titanic")
titanic.sample(7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
516,1,2,female,34.0,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
57,0,3,male,28.5,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
776,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,F,Queenstown,no,True
809,1,1,female,33.0,1,0,53.1000,S,First,woman,False,E,Southampton,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
157,0,3,male,30.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

How many rows and columns

In [ ]:
titanic.shape

(891, 15)

How many null values are there in columns?

In [ ]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
titanic=titanic.drop(["deck", "age"], axis=1)

In [11]:
titanic=titanic.dropna()

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   embarked     889 non-null    object
 7   class        889 non-null    category
 8   who          889 non-null    object
 9   adult_male   889 non-null    bool
 10  embark_town  889 non-null    object
 11  alive        889 non-null    object
 12  alone        889 non-null    bool
dtypes: bool(2), category(1), float64(1), int64(4), object(5)
memory usage: 79.1+ KB

In [15]:
titanic2=titanic.sample(200, random_state=42)

In [ ]:
# Does gender affects survival ?

In [16]:
# We can see both male and female survivors using a crosstab
crosstab = pd.crosstab(titanic2.survived, titanic2.sex)
crosstab

sex       female  male
survived
0             24   101
1             56    19

In [ ]:
# Ho: The two categorical variables (gender and survived) are independent.
# H1: The two categorical variables are dependent.

In [17]:
from scipy import stats
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=57.800, p=0.0000

In [18]:
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. Gender and survived variables are dependent')

We reject the null hypothesis. Gender and survived variables are dependent

# Example-3 Titanic Dataset

In [ ]:
# Does class affect survival? In other words Class and survived variables are dependent or not?

In [19]:
crosstab = pd.crosstab(titanic2["survived"], titanic2["class"])
crosstab

class     First  Second  Third
survived
0            16      27     82
1            32      18     25

In [43]:
# Ho: The two categorical variables are independent.
# H1: The two categorical variables are dependent.

In [20]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=26.664, p=0.0000

In [21]:
if p > 0.05:
	print('Fail to reject Ho')
else:
	print('We reject the null hypothesis. Class and survived variables are dependent')

We reject the null hypothesis. Class and survived variables are dependent

# Example-4 mpg Dataset

In [22]:
df = sns.load_dataset("penguins")
df.sample(7)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
241,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,Female
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,Male
254,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,Female
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
318,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,Female
236,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,Female
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,Male

In [23]:
crosstab = pd.crosstab(df["species"], df["sex"])
crosstab

sex        Female  Male
species
Adelie         73    73
Chinstrap      34    34
Gentoo         58    61

In [45]:
# Ho: The two categorical variables are independent.
# H1: The two categorical variables are dependent.

In [41]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=0.049, p=0.9760

In [46]:
if p > 0.05:
	print('Fail to reject Ho. The two categorical variables are independent')
else:
	print('We reject the null hypothesis')

Fail to reject Ho. The two categorical variables are independent

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [30]:
diamonds = sns.load_dataset("diamonds")
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [32]:
crosstab = pd.crosstab(diamonds["cut"], diamonds["clarity"])
crosstab

clarity      IF  VVS1  VVS2   VS1   VS2   SI1   SI2   I1
cut
Ideal      1212  2047  2606  3589  5071  4282  2598  146
Premium     230   616   870  1989  3357  3575  2949  205
Very Good   268   789  1235  1775  2591  3240  2100   84
Good         71   186   286   648   978  1560  1081   96
Fair          9    17    69   170   261   408   466  210

In [33]:
stat, p, dof, expected = stats.chi2_contingency(crosstab)
print('stat=%.3f, p=%.4f' % (stat, p))

stat=4391.398, p=0.0000

In [34]:
if p > 0.05:
	print('Fail to reject Ho. The two categorical variables are independent')
else:
	print('We reject the null hypothesis')

We reject the null hypothesis