<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

___

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=8514&pageid=8158&startlastseen=no"><img align="center" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE-0322-Students/blob/main/3-%20Classes%26Labs/2-DAwPY/DAwPy_S03_(Pandas_Series).ipynb"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="100" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<a href="https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S3_%28Pandas_Series%29/DAwPy_S3_%28Pandas_Series%29.ipynb"><img align="right" src="https://i.ibb.co/48wtV8c/nbviewer-badge.png" alt="Open in nbviewer" width="130" height="200" title="Open and Execute in nbviewer"></a><br/>
___

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" width="450" height="200" title="Welcome to Place Where You can Reinvent Yourself"></a><br/>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>


<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 10</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Working with Text & Time Data</p>

<img src=https://i.ibb.co/X8TY4jf/Working-Pandaas.png width="700" height="200">

[Image Credit](https://medium.com/jbennetcodes/dealing-with-datetimes-like-a-pro-in-pandas-b80d3d808a7f)

Raw text data often comes in a form that makes analysis difficult. As such, it often requires text processing methods. Text processing is the practice of automating the generation and manipulation of text. It can be used for many data manipulation tasks including feature engineering from text, data wrangling, web scraping, search engines and much more.

Data wrangling including removal, extraction, replacement and conversion. is the process of gathering and transforming data to address an analytical question. It’s also often the most important and time-consuming step of the entire data science pipeline. In this process, you can also use Pandas to replace words or phrases with more informative or useful text.

Today, using the basic Pandas tools and skills,  we’ll look at how to perform extraction from text as well as conversion of string values into time stamps or generating the type of clean and interpretable text data that allows for insights [Source](https://builtin.com/data-science/data-wrangling-pandas).

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [WORKING WITH TEXT DATA](#0)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#00)
* [WORKING WITH TIME DATA](#1)
    * [String Methods](#1.1)
    * [Most Usefull String Methods](#1.2)
    * [Dummy Operations](#1.3)
* [WORKING WITH TIME DATA](#2)
    * [pd.to_datetime()](#2.1)
    * [Series.dt()](#2.2)
    * [Datetime Module](#2.3)
    * [Series.dt()](#2.4)
* [OPERATION WITH DATETIME OBJECT](#3)
* [THE END OF THE SESSION](#4)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="00"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")  # to suppress all warnings

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Working with Text Data</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>


Pandas cannot only include text data as an object, it also includes any other data that pandas don’t understand. This means, if you say when a column is an Object dtype, and it doesn’t mean all the values in that column will be a string or text data. In fact, they may be numbers, or a mixture of string, integers, and floats dtype. So with this incompatibility, we can not do any string operations on that column directly. Due to this problem, string dtype is introduced from the pandas 1.0 version, but we need to define it explicitly for applying string functions.

[Pandas provides a set of string functions](https://pandas.pydata.org/docs/user_guide/text.html) which make it easy to operate on string data. Most importantly, these functions ignore (or exclude) missing/NaN values. Almost, all of these methods work with Python string functions [Refer To Official Python Documentation]( https://docs.python.org/3/library/stdtypes.html#string-methods). So, while studying with the Series Object, convert it to String Object and then perform the operation.

To sum up, before pandas 1.0, only “object” datatype was used to store strings which cause some drawbacks because non-string data can also be stored using “object” datatype. Pandas 1.0 introduces a new datatype specific to string data which is StringDtype. According to [Pandas Official Document](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html), there are two ways to store text data in pandas:
- **Object -dtype NumPy array** (Object data type has a broader scope and allows to store pretty much anything).
- **StringDtype extension type**

**``One important thing``** to note here is that **object datatype is still the default datatype for strings**. To use StringDtype, we need to explicitly state it. Pandas recommend using StringDtype to store text data. However, “String” data type is not superior to “object” in terms of performance as of now [SOURCE01](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html), [SOURCE02](https://www.w3schools.com/python/python_ref_string.asp). 

[Why We Need to Use Pandas New String Dtype Instead of Object for Textual Data](https://towardsdatascience.com/why-we-need-to-use-pandas-new-string-dtype-instead-of-object-for-textual-data-6fd419842e24)

[How do StringDtype objects differ from object dtype in Python Pandas?](https://www.tutorialspoint.com/how-do-stringdtype-objects-differ-from-object-dtype-in-python-pandas)

[Pandas distinction between str and object types](https://stackoverflow.com/questions/34881079/pandas-distinction-between-str-and-object-types)

In this notebook, we will first discuss the [string operations](https://www.tutorialspoint.com/python_pandas/python_pandas_working_with_text_data.htm) with our basic Series/Index and learn how to apply these string functions on the DataFrame.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">String Methods</p>

<a id="1.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Strings implement all of the common sequence operations, along with the additional methods described at [the official documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

Strings also support two styles of string formatting, one providing a large degree of flexibility and customization (**Please see the information about** [str.format()](https://docs.python.org/3/library/stdtypes.html#str.format), [Format String Syntax](https://docs.python.org/3/library/string.html#formatstrings) and [Custom String Formatting](https://docs.python.org/3/library/string.html#string-formatting)) and the other based on C printf style formatting that handles a narrower range of types and is slightly harder to use correctly, but is often faster for the cases it can handle ([printf-style String Formatting](https://docs.python.org/3/library/stdtypes.html#old-string-formatting)).

The [Text Processing Services](https://docs.python.org/3/library/text.html#textservices) section of the standard library covers a number of other modules that provide various text related utilities (including regular expression support in the [re](https://docs.python.org/3/library/re.html#module-re) module).

Please watch [**``Video Source``**](https://www.youtube.com/watch?v=6JNwK6hEneg) for enhancing your understanding of working with Text Data in Pandas.  

**What are these String Methods? Now let us examine some of the most common and usefull String Methods and dig into them one by one:**

In [ ]:
import numpy as np

x = np.array(['Testing', 'a', 'string'], dtype='U7')
y = np.array(['Testing', 'a', 'string'], dtype=object)

x, y

In [ ]:
x[1] = 'a really really really long'
x

In [ ]:
y[1] = 'a really really really long'
y

In [3]:
# !pip install xlrd
# !pip install lxml
# !pip install openpyxl

In [4]:
df = pd.read_excel("text_exercise.xlsx")
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Most Usefull String Methods</p>

<a id="1.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **[str.lower()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html) =>** Converts a string into lower case
- **[str.upper()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html) =>** Converts a string into upper case
- **[str.capitalize()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.capitalize.html) =>** Converts the first character to upper case
- **[str.title()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.title.html) =>** Converts the first character of each word to upper case
- **[str.swapcase()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.swapcase.html) =>** Swaps the case lower/upper

[SOURCE01](https://www.tutorialspoint.com/python_pandas/python_pandas_working_with_text_data.htm)
[SOURCE02](https://www.aboutdatablog.com/post/10-most-useful-string-functions-in-pandas)
[SOURCE03](https://towardsdatascience.com/5-must-know-pandas-operations-on-strings-4f88ca6b8e25)
[SOURCE04](https://towardsdatascience.com/pandas-string-operations-explained-fdfab7602fb4)
[SOURCE05](https://blog.devgenius.io/string-operations-on-pandas-dataframe-88af220439d1)
[SOURCE06](https://www.geeksforgeeks.org/string-manipulations-in-pandas-dataframe/)

___

**``str.lower()``** method returns a string where all characters are lower case.

**``str.upper()``**  is used to convert strings in the Series/Index to uppercase.

**``str.title()``** used to convert strings in the Series/Index to titlecase.

**``str.capitalize()``** is used to capitalize the string elements in Pandas Series.

**``str.swapcase()``** returns a string where all the upper case letters is converted to lower case and vice versa.

___

- **[str.isalpha()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.isalpha.html)     =>** Returns True if all characters in the string are in the alphabet
- **[str.isnumeric()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.isnumeric.html)   =>** Returns True if all characters in the string are numeric
- **[str.isalnum()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.isalnum.html)     =>** Returns True if all characters in the string are alphanumeric
- **[str.endswith()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.endswith.html)	  =>** Returns true if the string ends with the specified value
- **[str.startswith()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html)  =>** Returns true if the string starts with the specified value
- **[str.contains()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html)    =>** Returns a Boolean value True for each element if the substring contains in the element, else False.

[SOURCE01](https://careerkarma.com/blog/python-isalpha-isnumeric-isalnum/)
[SOURCE02](https://careerkarma.com/blog/python-startswith-and-endswith/)
[SOURCE03](https://www.geeksforgeeks.org/python-startswith-endswidth-function/)
[SOURCE04](https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852#:~:text=The%20contains%20method%20in%20Pandas,str.)

___

In [ ]:
# Let us remember our df

**isalpha()** Function in pandas python checks whether the string consists of alphabetic characters only. It returns True when alphabetic value is present and it returns False when the alphabetic value is not present.

**isnumeric()** checks whether all characters in each string are numeric. This is equivalent to running the Python string method str. isnumeric() for each element of the Series/Index.

**isalnum()** Function in python checks whether the string consists of alphanumeric characters. It returns True when alphanumeric value is present and it returns False when the alphanumeric value is not present. Alphanumeric means a character that is either a letter or a number.

Pandas **startswith()** tests if the start of each string element matches a pattern. It is yet another method to search and filter text data in Series or Data Frame. This method is Similar to Python’s startswith() method, but has different parameters and it works on Pandas objects only. Hence .str has to be prefixed everytime before calling this method, so that the compiler knows that it’s different from default function.

Pandas **endswith()** method is a built-in function that determines whether the given string ends with a specific sequence of characters.

The **contains()** method in Pandas allows you to search a column for a specific substring. The contains method returns boolean values for the Series with True for if the original Series value contains the substring and False if not [SOURCE](https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852#:~:text=The%20contains%20method%20in%20Pandas,str.).

We can use these string methods which returning boolean expression for creating condition and so selecting relative rows:

___

- **[str.strip()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lstrip.html)	=>** Returns a trimmed version of the string
- **[str.replace()](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html) =>** Returns a string where a specified value is replaced with a specified value
- **[str.split()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html)	=>** Splits the string at the specified separator, and returns a list
- **[str.find()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html)	=>** Searches the string for a specified value and returns the position of where it was found
- **[str.findall()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html)	=>** Returns a list of all occurrence of the pattern.
- **[str.join()](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.join.html)	=>** Converts the elements of an iterable into a string

___

In [ ]:
# Let's remember our df

**NOTE:** For a better using and understanding of strip, please revise escape characters in python [Source01 for Escape Characters](https://www.python-ds.com/python-3-escape-sequences) & [Source02 for Escape Characters](https://www.w3schools.com/python/gloss_python_escape_characters.asp)

### [``str.replace()``](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html) vs [``.replace()``](https://www.programiz.com/python-programming/methods/string/replace)

**Series.str.split(pat=None, n=- 1, expand=False, *, regex=None)**  **[Source](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html)**

**string.split(separator, maxsplit)** **[Source](https://docs.python.org/3/library/stdtypes.html#str.split)**

- **Purpose:** Use **str.replace** for substring replacements on a single string column, and **replace** for any general replacement on one or more columns.

- **Usage:** **str.replace** can replace one thing at a time. **replace** lets you perform multiple independent replacements, i.e., replace many things at once.

- **Default behavior:** **str.replace** enables regex replacement by default. **replace** only performs a full match unless the regex=True switch is used.

[What is the difference between Series.replace and Series.str.replace?](https://stackoverflow.com/questions/56625031/what-is-the-difference-between-series-replace-and-series-str-replace)

**Indexing with** **``.str[ ]``** 

You can use **``[ ]``** notation to directly index by position locations [SOURCE](https://pandas.pydata.org/pandas-docs/version/0.15/text.html).

**str.find** returns lowest indexes in each strings in the Series/Index. Each of returned indexes corresponds to the position where the substring is fully contained between [start:end]. Return -1 on failure. Equivalent to standard str.find().

**str.rfind** returns highest indexes in each strings in the Series/Index. Each of returned indexes corresponds to the position where the substring is fully contained between [start:end]. Return -1 on failure. Equivalent to standard str.rfind().

**str.findall** finds all occurrences of pattern or regular expression in the Series/Index [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html).

In [175]:
# Let's add new features named "skils" and "Skills" to our DataFrame

df["skills"] = [[], ["Java", "C++"], ["Python", "Tableau", "SQL"], [], ["React", "Django"], ["JavaScript", "Python"], ["R", "SQL"], ["SQL", "Python"]]
df["Skills"] = [[], [], ["Python","Tableau","SQL"], [], ["React", "Django"], ["JavaScript", "Python"], ["R", "SQL"], ["SQL", "Python"]]
df.loc[1, "Skills"] = "Java, C++"
df

,id,department,job,salary,age,first_name,last_name,skills,Skills
0,M0001,HR,manager,150000.0,52.0,Tom,Blue,[],[]
1,M0002,IT,manager,180000.0,48.0,John,Black,"[Java, C++]","Java, C++"
2,E0001,IT,data scientist,150000.0,35.0,Micheal,Brown,"[Python, Tableau, SQL]","[Python, Tableau, SQL]"
3,E0002,HR,recruiter,130000.0,38.0,Jason,Walker,[],[]
4,E0003,IT,backend developer,110000.0,NaN,Alex,Green,"[React, Django]","[React, Django]"
5,E0004,IT,frontend developer,120000.0,32.0,Oscar,Smi̇th,"[JavaScript, Python]","[JavaScript, Python]"
6,E0005,IT,data scientist,135000.0,40.0,Adrian,Star,"[R, SQL]","[R, SQL]"
7,E0006,IT,data scientist,125000.0,35.0,Albert,Simon,"[SQL, Python]","[SQL, Python]"

If the elements of a Series are lists themselves, join the content of these lists using the delimiter passed to the function. This function is an equivalent to str.join() [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.join.html).

**Join** lists contained as elements in the Series/Index with passed delimiter.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Dummy Operations</p>

<a id="1.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

A dataset may contain various type of values, sometimes it consists of categorical values. So, in-order to use those categorical value for programming efficiently we create dummy variables. A dummy variable is a binary variable that indicates whether a separate categorical variable takes on a specific value [SOURCE](https://www.geeksforgeeks.org/how-to-create-dummy-variables-in-python-with-pandas/).

### get_dummies()

**Syntax1:** ``pd.get_dummies(data, prefix=None, prefix_sep="_",)``<br>
            **OR**<br>
**Syntax2:** ``df["col_name"].get_dummies(sep = ",")``

**Parameters:**
- data= input data i.e. it includes pandas data frame. list . set . numpy arrays etc.
- prefix= Initial value
- prefix_sep= Data values separation.
- Return Type: Dummy variables.

As you can see two(2) dummy variables are created for the three categorical values of the "department" attribute. We can create dummy variables in python using **``get_dummies()``** method.

Dummies with **``drop_first=True``** parameter can be used to drop the first column. drop_first=True is important to use, as it helps in reducing the extra column created during dummy variable creation. Hence it reduces the correlations created among dummy variables. In other words it drops the first dummy to avoid the creation of correlated features [SOURCE](https://stackoverflow.com/questions/63661560/drop-first-true-during-dummy-variable-creation-in-pandas#:~:text=1%20Answer,correlations%20created%20among%20dummy%20variables.).

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Working with Time Data</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As someone who works with time series data on almost a daily basis, it's clear that the pandas Python package is extremely useful for time series manipulation and analysis. This basic introduction to time series data manipulation with pandas should allow you to get started in your time series analysis. Specific objectives are to show you how to:
- create a date range
- work with timestamp data
- convert string data to a timestamp
- index and slice your time series data in a data frame
- resample your time series for different time period aggregates/summary statistics
- compute a rolling statistic such as a rolling average
- work with missing data
- understand the basics of unix/epoch time
- understand common pitfalls of time series data analysis [SOURCE](https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea)

In this section, we will introduce how to work with each of these types of date/time data in Pandas. This short section is by no means a complete guide to the time series tools available in Python or Pandas, but instead is intended as a broad overview of how you as a user should approach working with time series [SOURCE](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), [SOURCE](https://builtin.com/data-science/data-wrangling-pandas).

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">pd.to_datetime()</p>

<a id="2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

For more and detailed information about to_datetime() metod, please [Visit Official Document](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

**``pd.to_datetime()``** Converts argument to datetime.

This function converts a **``scalar``**, **``array-like``**, **``Series``** or **``DataFrame/dict-like``** to a pandas datetime object.

**As stated above, many input types are supported, and lead to different output types:**

- **``scalars``** can be int, float, str, datetime object (from stdlib datetime module or numpy). They are converted to Timestamp when possible, otherwise they are converted to datetime.datetime. None/NaN/null scalars are converted to NaT.

- **``array-like``** can contain int, float, str, datetime objects. They are converted to DatetimeIndex when possible, otherwise they are converted to Index with object dtype, containing datetime.datetime. None/NaN/null entries are converted to NaT in both cases.

- **``Series``** are converted to Series with datetime64 dtype when possible, otherwise they are converted to Series with object dtype, containing datetime.datetime. None/NaN/null entries are converted to NaT in both cases.

- **``DataFrame/dict-like``** are converted to Series with datetime64 dtype. For each row a datetime is created from assembling the various dataframe columns. Column keys can be common abbreviations like [‘year’, ‘month’, ‘day’, ‘minute’, ‘second’, ‘ms’, ‘us’, ‘ns’]) or plurals of the same.

[Special Note :](https://pandas.pydata.org/docs/getting_started/intro_tutorials/09_timeseries.html)

As many data sets do contain datetime information in one of the columns, pandas input function like [pandas.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv) and [pandas.read_json()](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html#pandas.read_json) can do the transformation to dates when reading the data using the **``parse_dates parameter``** with a list of the columns to read as Timestamp.

Why are these **``pandas.Timestamp``** objects useful? Let's illustrate the added value with some example cases. In this sense, let us assume that we want to work with the dates in the column datetime as datetime objects instead of plain text:

In [194]:
df = pd.read_csv("time_exercise.csv")
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

Initially, the values in datetime are character strings and do **NOT** provide any datetime operations (e.g. extract the year, day of the week,…). By applying the to_datetime function, pandas interprets the strings and convert these to datetime (i.e. ``datetime64[ns, UTC]``) objects. In pandas we call these datetime objects similar to datetime.datetime from the standard library as [pandas.Timestamp](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html#pandas.Timestamp).

Now let's apply some aggregate methods for Datatime object at the given dataset:

In [204]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])
a

0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object

In [208]:
a = pd.to_datetime(a, format='%d-%m-%Y')
a

0   2020-03-15
1   2019-05-18
2   2018-07-24
dtype: datetime64[ns]

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Series.dt</p>

<a id="2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Accessor object for datetimelike properties of the Series values [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html), [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html).

For a comprehensive information what the datetimelike properties, please visit [Official Pandas API Reference Document](https://pandas.pydata.org/pandas-docs/version/0.22/api.html#datetimelike-properties)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Datetime Module</p>

<a id="2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

The datetime module supplies classes for manipulating dates and times [SOURCE](https://docs.python.org/3/library/datetime.html).

### [``class datetime.datetime``](https://docs.python.org/3/library/datetime.html)

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [215]:
from datetime import datetime

### [``class datetime.timedelta``](https://docs.python.org/3/library/datetime.html)

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution [SOURCE](https://www.geeksforgeeks.org/manipulate-date-and-time-with-the-datetime-module-in-python/).

In [224]:
from datetime import timedelta

### [``strftime()``](https://docs.python.org/3/library/datetime.html)

**Converting** from date/datetime/timedelta object **to string type** [SOURCE](https://strftime.org/)

**Watch out the difference.**

In [ ]:
year = current_datetime.strftime("%Y")
print("year:", year)
print("year's type is:", type(year), "\n")

month = current_datetime.strftime("%m")
print("month:", month)
print("month's type is:", type(month), "\n")

day = current_datetime.strftime("%d")
print("day:", day)
print("day's type is:", type(day), "\n")

time = current_datetime.strftime("%H:%M:%S")
print("time:", time)
print("time's type is:", type(time), "\n")

date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:", date_time)
print("date_time's type is:", type(date_time), "\n")

### [strptime()](https://docs.python.org/3/library/datetime.html)

**Converting** from string type **to datetime object**

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Operation with Datetime Object</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

## Let's detect the time between first order date and entry date for each product

In [ ]:
# Let's remember our df

**Let us do it by string methods**

## Let's detect the time between last order date and today for each product

**This time, let us do it by datetime properties**

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of Session - 10</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>

<a href="https://clarusway.com/"><img align="center" src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" alt="CLRSWY" title="Way to Reinvent Yourself"></a><br/>


## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>
___

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>