___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [ ]:
pip install skimpy --user

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
#from skimpy import clean_columns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.2f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [16]:
df0 = pd.read_csv("df_car_cleaned.csv")
df = df0

In [6]:
df.head(5)

,Unnamed: 0,make_model,location,price,body_type,doors,country_version,warranty,mileage,gearbox,fuel_type,colour,paint,seller,seats,power,engine_size,gears,co₂_emissions,manufacturer_colour,drivetrain,cylinders,fuel_consumption,comfort_convenience,entertainment_media,safety_security,extras,empty_weight,general_inspection,full_service_history,non_smoker_vehicle,emission_class,emissions_sticker,upholstery_colour,upholstery,production_date,previous_owner,energy_efficiency_class,age
0,0,Mercedes-Benz A 160,ES,16950.00,Compact,5.00,Spain,24.00,120200.00,Manual,Diesel,Black,Metallic,Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00
1,1,Mercedes-Benz EQE 350,ES,80900.00,Compact,4.00,Spain,24.00,5000.00,Automatic,Electric,NaN,NaN,Dealer,5.00,215.00,1.00,9.00,0.00,Negro Obsidiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,2,Mercedes-Benz A 45 AMG,ES,69900.00,Compact,5.00,Spain,12.00,18900.00,Automatic,Benzine,Grey,NaN,Dealer,5.00,310.00,1991.00,8.00,NaN,Mountaingrau magno,4WD,4.00,8.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
3,3,Mercedes-Benz A 35 AMG,ES,46990.00,Compact,5.00,Spain,12.00,18995.00,Automatic,Benzine,Yellow,NaN,Dealer,5.00,225.00,1991.00,7.00,NaN,Amarillo Sol,4WD,4.00,7.30,"Air conditioning, Automatic climate control, P...",USB,"ABS, Central door lock, Driver-side airbag, El...",Sport seats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
4,4,Mercedes-Benz A 45 AMG,ES,16800.00,Compact,5.00,Spain,12.00,197000.00,Automatic,Diesel,White,Metallic,Dealer,5.00,100.00,2143.00,7.00,NaN,NaN,4WD,4.00,4.90,"Air conditioning, Electrical side mirrors, Mul...","Bluetooth, CD player, MP3, USB","ABS, Central door lock, Driver-side airbag, El...",NaN,1545.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00

In [21]:
len(df.columns)

39

In [4]:
df.sample().T

                                                                     16495
Unnamed: 0                                                           16495
make_model                                                    Dacia Jogger
location                                                                AT
price                                                             26298.00
body_type                                                    Station wagon
doors                                                                 5.00
country_version                                                    Germany
warranty                                                               NaN
mileage                                                              50.00
gearbox                                                             Manual
fuel_type                                                          Benzine
colour                                                               Black
paint                                                             Metallic
seller                                                              Dealer
seats                                                                 7.00
power                                                                81.00
engine_size                                                         999.00
gears                                                                  NaN
co₂_emissions                                                       138.00
manufacturer_colour                                       Perlmutt-Schwarz
drivetrain                                                             NaN
cylinders                                                              NaN
fuel_consumption                                                      5.60
comfort_convenience      Air conditioning, Automatic climate control, C...
entertainment_media      Bluetooth, Hands-free equipment, MP3, On-board...
safety_security          ABS, Central door lock, Daytime running lights...
extras                                             Alloy wheels, Roof rack
empty_weight                                                           NaN
general_inspection                                                 06/2025
full_service_history                                                   Yes
non_smoker_vehicle                                                     Yes
emission_class                                                       uro 6
emissions_sticker                                                    Green
upholstery_colour                                                    black
upholstery                                                           other
production_date                                                    2022.00
previous_owner                                                        1.00
energy_efficiency_class                                                NaN
age                                                                   0.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               29480 non-null  int64
 1   make_model               28630 non-null  object
 2   location                 28630 non-null  object
 3   price                    28630 non-null  float64
 4   body_type                28630 non-null  object
 5   doors                    28271 non-null  float64
 6   country_version          16889 non-null  object
 7   warranty                 13465 non-null  float64
 8   mileage                  28629 non-null  float64
 9   gearbox                  28382 non-null  object
 10  fuel_type                26843 non-null  object
 11  colour                   26906 non-null  object
 12  paint                    14495 non-null  object
 13  seller                   28630 non-null  object
 14  seats                    25505 non-null  float64
 15  power                    28058 non-null  float64
 16  engine_size              27227 non-null  float64
 17  gears                    18954 non-null  float64
 18  co₂_emissions            18594 non-null  float64
 19  manufacturer_colour      21787 non-null  object
 20  drivetrain               16893 non-null  object
 21  cylinders                18852 non-null  float64
 22  fuel_consumption         23347 non-null  float64
 23  comfort_convenience      25433 non-null  object
 24  entertainment_media      23644 non-null  object
 25  safety_security          25415 non-null  object
 26  extras                   23480 non-null  object
 27  empty_weight             17758 non-null  float64
 28  general_inspection       12254 non-null  object
 29  full_service_history     12565 non-null  object
 30  non_smoker_vehicle       11594 non-null  object
 31  emission_class           17859 non-null  object
 32  emissions_sticker        9414 non-null   object
 33  upholstery_colour        14569 non-null  object
 34  upholstery               18610 non-null  object
 35  production_date          5908 non-null   float64
 36  previous_owner           14015 non-null  float64
 37  energy_efficiency_class  7804 non-null   object
 38  age                      28628 non-null  float64
dtypes: float64(15), int64(1), object(23)
memory usage: 8.8+ MB

In [7]:
df.head(5).T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
location,ES,ES,ES,ES,ES
price,16950.00,80900.00,69900.00,46990.00,16800.00
body_type,Compact,Compact,Compact,Compact,Compact
doors,5.00,4.00,5.00,5.00,5.00
country_version,Spain,Spain,Spain,Spain,Spain
warranty,24.00,24.00,12.00,12.00,12.00
mileage,120200.00,5000.00,18900.00,18995.00,197000.00
gearbox,Manual,Automatic,Automatic,Automatic,Automatic
fuel_type,Diesel,Electric,Benzine,Benzine,Diesel
colour,Black,NaN,Grey,Yellow,White
paint,Metallic,NaN,NaN,NaN,Metallic
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,5.00,5.00,5.00,5.00
power,NaN,215.00,310.00,225.00,100.00
engine_size,NaN,1.00,1991.00,1991.00,2143.00
gears,NaN,9.00,8.00,7.00,7.00
co₂_emissions,NaN,0.00,NaN,NaN,NaN
manufacturer_colour,NaN,Negro Obsidiana,Mountaingrau magno,Amarillo Sol,NaN
drivetrain,NaN,NaN,4WD,4WD,4WD
cylinders,NaN,NaN,4.00,4.00,4.00
fuel_consumption,NaN,NaN,8.40,7.30,4.90
comfort_convenience,NaN,NaN,NaN,"Air conditioning, Automatic climate control, P...","Air conditioning, Electrical side mirrors, Mul..."
entertainment_media,NaN,NaN,NaN,USB,"Bluetooth, CD player, MP3, USB"
safety_security,NaN,NaN,NaN,"ABS, Central door lock, Driver-side airbag, El...","ABS, Central door lock, Driver-side airbag, El..."
extras,NaN,NaN,NaN,Sport seats,NaN
empty_weight,NaN,NaN,NaN,NaN,1545.00
general_inspection,NaN,NaN,NaN,NaN,NaN
full_service_history,NaN,NaN,NaN,NaN,NaN
non_smoker_vehicle,NaN,NaN,NaN,NaN,NaN
emission_class,NaN,NaN,NaN,NaN,NaN
emissions_sticker,NaN,NaN,NaN,NaN,NaN
upholstery_colour,NaN,NaN,NaN,NaN,NaN
upholstery,NaN,NaN,NaN,NaN,NaN
production_date,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN
age,6.00,0.00,2.00,2.00,7.00

In [8]:
df.describe()

,Unnamed: 0,price,doors,warranty,mileage,seats,power,engine_size,gears,co₂_emissions,cylinders,fuel_consumption,empty_weight,production_date,previous_owner,age
count,29480.00,28630.00,28271.00,13465.00,28629.00,25505.00,28058.00,27227.00,18954.00,18594.00,18852.00,23347.00,17758.00,5908.00,14015.00,28628.00
mean,14739.50,23555.20,4.15,17.74,72627.04,4.69,119.68,1755.00,5.88,132.50,4.08,5.70,1421.41,2018.00,1.43,6.84
std,8510.29,25953.71,1.21,14.44,67628.44,0.82,68.38,1029.86,1.48,58.21,1.00,2.84,335.60,6.49,0.86,8.76
min,0.00,490.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,75.00,1954.00,1.00,-180.00
25%,7369.75,11990.00,3.00,12.00,20290.00,4.00,80.00,1332.00,5.00,107.00,4.00,4.40,1206.00,2018.00,1.00,2.00
50%,14739.50,17980.00,5.00,12.00,57500.00,5.00,100.00,1598.00,6.00,127.00,4.00,5.30,1387.00,2019.00,1.00,4.00
75%,22109.25,27990.00,5.00,12.00,106673.00,5.00,138.00,1984.00,6.00,159.00,4.00,6.70,1598.00,2021.00,2.00,8.00
max,29479.00,1346900.00,6.00,99.00,1440000.00,17.00,924.00,99900.00,10.00,940.00,26.00,99.90,15590.00,2022.00,14.00,122.00

In [ ]:
#df.describe(include=[object])

In [9]:
df.columns

Index(['Unnamed: 0', 'make_model', 'location', 'price', 'body_type', 'doors',
       'country_version', 'warranty', 'mileage', 'gearbox', 'fuel_type',
       'colour', 'paint', 'seller', 'seats', 'power', 'engine_size', 'gears',
       'co₂_emissions', 'manufacturer_colour', 'drivetrain', 'cylinders',
       'fuel_consumption', 'comfort_convenience', 'entertainment_media',
       'safety_security', 'extras', 'empty_weight', 'general_inspection',
       'full_service_history', 'non_smoker_vehicle', 'emission_class',
       'emissions_sticker', 'upholstery_colour', 'upholstery',
       'production_date', 'previous_owner', 'energy_efficiency_class', 'age'],
      dtype='object')

In [12]:
df.isnull().sum()

Unnamed: 0                     0
make_model                   850
location                     850
price                        850
body_type                    850
doors                       1209
country_version            12591
warranty                   16015
mileage                      851
gearbox                     1098
fuel_type                   2637
colour                      2574
paint                      14985
seller                       850
seats                       3975
power                       1422
engine_size                 2253
gears                      10526
co₂_emissions              10886
manufacturer_colour         7693
drivetrain                 12587
cylinders                  10628
fuel_consumption            6133
comfort_convenience         4047
entertainment_media         5836
safety_security             4065
extras                      6000
empty_weight               11722
general_inspection         17226
full_service_history       16915
non_smoker_vehicle         17886
emission_class             11621
emissions_sticker          20066
upholstery_colour          14911
upholstery                 10870
production_date            23572
previous_owner             15465
energy_efficiency_class    21676
age                          852
dtype: int64

In [13]:
is_null = pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
is_null

                         isnull
Unnamed: 0                    0
make_model                  850
location                    850
price                       850
body_type                   850
doors                      1209
country_version           12591
warranty                  16015
mileage                     851
gearbox                    1098
fuel_type                  2637
colour                     2574
paint                     14985
seller                      850
seats                      3975
power                      1422
engine_size                2253
gears                     10526
co₂_emissions             10886
manufacturer_colour        7693
drivetrain                12587
cylinders                 10628
fuel_consumption           6133
comfort_convenience        4047
entertainment_media        5836
safety_security            4065
extras                     6000
empty_weight              11722
general_inspection        17226
full_service_history      16915
non_smoker_vehicle        17886
emission_class            11621
emissions_sticker         20066
upholstery_colour         14911
upholstery                10870
production_date           23572
previous_owner            15465
energy_efficiency_class   21676
age                         852

In [16]:
percentage_null = pd.DataFrame(df.isnull().sum()/df.shape[0]*100, columns = ['percentage_null'])
percentage_null

                         percentage_null
Unnamed: 0                          0.00
make_model                          2.88
location                            2.88
price                               2.88
body_type                           2.88
doors                               4.10
country_version                    42.71
warranty                           54.32
mileage                             2.89
gearbox                             3.72
fuel_type                           8.95
colour                              8.73
paint                              50.83
seller                              2.88
seats                              13.48
power                               4.82
engine_size                         7.64
gears                              35.71
co₂_emissions                      36.93
manufacturer_colour                26.10
drivetrain                         42.70
cylinders                          36.05
fuel_consumption                   20.80
comfort_convenience                13.73
entertainment_media                19.80
safety_security                    13.79
extras                             20.35
empty_weight                       39.76
general_inspection                 58.43
full_service_history               57.38
non_smoker_vehicle                 60.67
emission_class                     39.42
emissions_sticker                  68.07
upholstery_colour                  50.58
upholstery                         36.87
production_date                    79.96
previous_owner                     52.46
energy_efficiency_class            73.53
age                                 2.89

In [17]:
summary_null = pd.concat([is_null, percentage_null], axis = 1).reset_index().rename({'index':'Columns'},axis = 1)
summary_null

                    Columns  isnull  percentage_null
0                Unnamed: 0       0             0.00
1                make_model     850             2.88
2                  location     850             2.88
3                     price     850             2.88
4                 body_type     850             2.88
5                     doors    1209             4.10
6           country_version   12591            42.71
7                  warranty   16015            54.32
8                   mileage     851             2.89
9                   gearbox    1098             3.72
10                fuel_type    2637             8.95
11                   colour    2574             8.73
12                    paint   14985            50.83
13                   seller     850             2.88
14                    seats    3975            13.48
15                    power    1422             4.82
16              engine_size    2253             7.64
17                    gears   10526            35.71
18            co₂_emissions   10886            36.93
19      manufacturer_colour    7693            26.10
20               drivetrain   12587            42.70
21                cylinders   10628            36.05
22         fuel_consumption    6133            20.80
23      comfort_convenience    4047            13.73
24      entertainment_media    5836            19.80
25          safety_security    4065            13.79
26                   extras    6000            20.35
27             empty_weight   11722            39.76
28       general_inspection   17226            58.43
29     full_service_history   16915            57.38
30       non_smoker_vehicle   17886            60.67
31           emission_class   11621            39.42
32        emissions_sticker   20066            68.07
33        upholstery_colour   14911            50.58
34               upholstery   10870            36.87
35          production_date   23572            79.96
36           previous_owner   15465            52.46
37  energy_efficiency_class   21676            73.53
38                      age     852             2.89

In [18]:
missing = df.isnull().sum()*100 / df.shape[0]

In [19]:
missing.loc[lambda x : x >= 70] #%70

production_date           79.96
energy_efficiency_class   73.53
dtype: float64

In [ ]:
miss_val = []

[miss_val.append(column) for column in df.columns if any(df[column].isnull())]

print("Columns that have missing values :")

miss_val

In [17]:
def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

In [18]:
def groupby_mode2(group_col1, group_col2, fill_col):
    for group1 in list(df[group_col1].unique()):
        cond1 = (df[group_col1]==group1)
        
        for group2 in list(df[group_col2].unique()):
            cond2 = (df[group_col2]==group2)
            cond = (cond1 & cond2)
            
            mode2 = list(df[cond][fill_col].mode())
            
            if mode2 != []:
                df.loc[cond,fill_col] = df.loc[cond,fill_col].fillna(mode2[0])
            elif list(df[cond1][fill_col].mode()) != []:
                df.loc[cond,fill_col] = df.loc[cond,fill_col].fillna(df[cond1][fill_col].mode()[0])
            else:
                df.loc[cond,fill_col] = df.loc[cond,fill_col].fillna(df[fill_col].mode()[0])
    print("Number of NaN : ",df[fill_col].isnull().sum())
    print("------------------")
    print(df[fill_col].value_counts(dropna=False))


def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

# HUSEYIN K.

In [84]:
first_looking('seats')

column name    :  seats
--------------------------------
per_of_nulls   :  % 13.48
num_of_nulls   :  3974
num_of_uniques :  11
--------------------------------
5.00     18309
4.00      5390
NaN       3974
2.00      1186
7.00       488
8.00        43
9.00        35
3.00        25
6.00        12
0.00         9
1.00         7
17.00        2
Name: seats, dtype: int64

In [85]:
groupby_mode2('make_model', 'body_type', 'seats')

Number of NaN :  850
------------------
5.00     20720
4.00      5967
2.00      1266
NaN        850
7.00       542
8.00        44
9.00        35
3.00        26
6.00        12
0.00         9
1.00         7
17.00        2
Name: seats, dtype: int64

#In case we need:
fill_most(df, 'body_type', 'seats')

#In case we need:
df['seats'].fillna(df['seats'].mode()[0], inplace = True)
df['seats'].value_counts(dropna=False)

In [91]:
first_looking('power')

column name    :  power
--------------------------------
per_of_nulls   :  % 4.82
num_of_nulls   :  1422
num_of_uniques :  351
--------------------------------
110.00    1992
NaN       1422
96.00     1356
88.00     1182
81.00     1166
          ...
746.00       1
570.00       1
471.00       1
179.00       1
26.00        1
Name: power, Length: 352, dtype: int64

In [92]:
groupby_mode2('make_model', 'engine_size', 'power')

Number of NaN :  1038
------------------
110.00    2004
96.00     1397
88.00     1207
81.00     1192
66.00     1132
          ...
746.00       1
570.00       1
471.00       1
179.00       1
26.00        1
Name: power, Length: 352, dtype: int64

#In case we need:
fill_most(df, 'make_model', 'power')

#In case we need:
groupby_mode2('body_type', 'gears', 'power')

#In case we need:
fill_most(df, 'cylinders', 'power')

#In case we need:
df['power'] = df['power'].fillna(df['power'].mean())
df['power'].value_counts(dropna=False)

In [108]:
first_looking('engine_size')

column name    :  engine_size
--------------------------------
per_of_nulls   :  % 7.64
num_of_nulls   :  2253
num_of_uniques :  467
--------------------------------
NaN        2253
1598.00    2099
999.00     2068
1969.00    1929
1461.00    1110
           ...
2753.00       1
2495.00       1
200.00        1
3224.00       1
2473.00       1
Name: engine_size, Length: 468, dtype: int64

In [109]:
groupby_mode2('make_model', 'power', 'engine_size')

Number of NaN :  850
------------------
1598.00    2240
999.00     2135
1969.00    1965
1461.00    1153
1998.00    1031
           ...
1616.00       1
1974.00       1
5950.00       1
2441.00       1
2473.00       1
Name: engine_size, Length: 468, dtype: int64

#In case we need:
fill_most(df, 'power', 'engine_size')

In [111]:
first_looking('gears')

column name    :  gears
--------------------------------
per_of_nulls   :  % 35.71
num_of_nulls   :  10526
num_of_uniques :  11
--------------------------------
NaN      10526
6.00      8412
5.00      5335
7.00      1738
8.00      1690
1.00       712
9.00       642
4.00       256
10.00      112
0.00        31
3.00        24
2.00         2
Name: gears, dtype: int64

In [114]:
groupby_mode2('make_model', 'power', 'gears')

Number of NaN :  850
------------------
6.00     12557
5.00      7870
7.00      2544
8.00      2491
1.00      1348
9.00      1095
NaN        850
4.00       388
10.00      240
3.00        63
0.00        31
2.00         3
Name: gears, dtype: int64

#In case we need:
fill_most(df, 'power', 'engine_size')

In [49]:
first_looking('co₂_emissions')

column name    :  co₂_emissions
--------------------------------
per_of_nulls   :  % 36.93
num_of_nulls   :  10886
num_of_uniques :  326
--------------------------------
NaN       10886
0.00       1040
119.00      393
124.00      340
129.00      319
          ...
332.00        1
70.00         1
338.00        1
342.00        1
53.00         1
Name: co₂_emissions, Length: 327, dtype: int64

In [115]:
groupby_mode2('make_model', 'emission_class', 'co₂_emissions')

Number of NaN :  9164
------------------
NaN       9164
0.00      1399
119.00     420
124.00     394
99.00      355
          ...
343.00       1
73.00        1
70.00        1
342.00       1
53.00        1
Name: co₂_emissions, Length: 327, dtype: int64

In [116]:
fill_most(df, 'make_model', 'co₂_emissions')

Number of NaN :  850
------------------
0.00      2716
119.00     948
NaN        850
127.00     729
129.00     705
          ...
9.00         1
80.00        1
13.00        1
338.00       1
53.00        1
Name: co₂_emissions, Length: 327, dtype: int64

In [ ]:
# The 'Manufacrurer colour' column should be dropped, because it has 4963 distinct values with description of colours by manufacturers in different languages. The 'Colour' column can be used instead. It has 14 distinct values already including almost all auto colours.

df['manufacturer_colour'].value_counts()

In [51]:
first_looking('drivetrain')

column name    :  drivetrain
--------------------------------
per_of_nulls   :  % 42.7
num_of_nulls   :  12587
num_of_uniques :  3
--------------------------------
NaN      12587
Front    12066
4WD       3252
Rear      1575
Name: drivetrain, dtype: int64

In [52]:
groupby_mode2('make_model', 'body_type', 'drivetrain')

Number of NaN :  7919
------------------
Front    16645
NaN       7919
4WD       3340
Rear      1576
Name: drivetrain, dtype: int64

In [120]:
fill_most(df, 'make_model', 'drivetrain')

Number of NaN :  850
------------------
Front    21676
4WD       4119
Rear      2835
NaN        850
Name: drivetrain, dtype: int64

In [53]:
first_looking('cylinders')

column name    :  cylinders
--------------------------------
per_of_nulls   :  % 36.05
num_of_nulls   :  10628
num_of_uniques :  12
--------------------------------
4.00     13068
NaN      10628
3.00      3258
6.00      1013
5.00       799
8.00       539
2.00       103
0.00        35
1.00        21
12.00        8
7.00         6
26.00        1
16.00        1
Name: cylinders, dtype: int64

In [54]:
groupby_mode2('make_model', 'power', 'cylinders')

Number of NaN :  1007
------------------
4.00     19643
3.00      5162
6.00      1359
NaN       1007
5.00       992
8.00       844
0.00       177
1.00       149
2.00       128
12.00       11
7.00         6
26.00        1
16.00        1
Name: cylinders, dtype: int64

In [55]:
first_looking('fuel_consumption')

column name    :  fuel_consumption
--------------------------------
per_of_nulls   :  % 20.8
num_of_nulls   :  6133
num_of_uniques :  160
--------------------------------
NaN      6133
5.00      831
4.90      811
4.50      690
5.10      647
         ...
0.50        1
16.00       1
57.00       1
15.90       1
44.00       1
Name: fuel_consumption, Length: 161, dtype: int64

In [56]:
groupby_mode2('make_model', 'power', 'fuel_consumption')

Number of NaN :  1033
------------------
5.00     1562
NaN      1033
4.90      977
0.00      906
4.50      845
         ...
0.50        1
16.00       1
57.00       1
15.90       1
44.00       1
Name: fuel_consumption, Length: 161, dtype: int64

In [57]:
first_looking('comfort_convenience')

column name    :  comfort_convenience
--------------------------------
per_of_nulls   :  % 13.73
num_of_nulls   :  4047
num_of_uniques :  14438
--------------------------------
NaN                                                                                                                                                                                                                                                                                                                                                                                                            4047
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: comfort_convenience, Length: 14439, dtype: int64

In [19]:
first_looking('entertainment_media')

column name    :  entertainment_media
--------------------------------
per_of_nulls   :  % 19.8
num_of_nulls   :  5836
num_of_uniques :  1944
--------------------------------
NaN                                                                                                                                                                        5836
Bluetooth, USB                                                                                                                                                              753
Bluetooth                                                                                                                                                                   665
On-board computer                                                                                                                                                           662
CD player, On-board computer, Radio                                                                                                                                         644
                                                                                                                                                                           ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot       1
Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot             1
Digital cockpit, Digital radio, On-board computer, Radio                                                                                                                      1
Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot                                                                  1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                               1
Name: entertainment_media, Length: 1945, dtype: int64

In [20]:
high_media=['CD player', 'Digital cockpit', 'Digital radio', 'USB']

def media1(x):
    c=0
    for i in high_media:
        if i in x:
            c+=1
    return c

In [21]:
df['entertainment_media1'] = df['entertainment_media'].apply(lambda x: media1(x) if pd.notnull(x) else x)
df['entertainment_media1'].value_counts(dropna=False)

1.00    8274
2.00    7523
NaN     5836
0.00    3997
3.00    3415
4.00     435
Name: entertainment_media1, dtype: int64

In [22]:
premium_media = ['Android Auto', 'Apple CarPlay','Bluetooth', 'Hands-free equipment', 'On-board computer', 'Sound system', 'WLAN / WiFi hotspot']

def media2(x):
    c=0
    for i in premium_media:
        if i in x:
            c+=1
    return c

In [23]:
df['entertainment_media2'] = df['entertainment_media'].apply(lambda x: media2(x) if pd.notnull(x) else x)
df['entertainment_media2'].value_counts(dropna=False)

NaN     5836
1.00    5411
3.00    4322
5.00    3338
2.00    3262
4.00    2533
6.00    2247
0.00    1508
7.00    1023
Name: entertainment_media2, dtype: int64

In [24]:
df.loc[df['entertainment_media1'] > 1, 'entertainment_media'] = "high"

In [25]:
df.loc[df['entertainment_media2'] > 2, 'entertainment_media'] = "premium"

In [26]:
df['entertainment_media'] = df['entertainment_media'].apply(lambda x: "standard" if (pd.notnull(x)) & (x != "high") & (x != "premium") else x)

In [27]:
first_looking('entertainment_media')

column name    :  entertainment_media
--------------------------------
per_of_nulls   :  % 19.8
num_of_nulls   :  5836
num_of_uniques :  3
--------------------------------
premium     13463
standard     8716
NaN          5836
high         1465
Name: entertainment_media, dtype: int64

In [59]:
first_looking('safety_security')

column name    :  safety_security
--------------------------------
per_of_nulls   :  % 13.79
num_of_nulls   :  4065
num_of_uniques :  12549
--------------------------------
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          4065
Isofix                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        380
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                             328
ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                                                                                                         125
ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                                                     121
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
Daytime running lights, Emergency brake assistant, Fog lights, Isofix, LED Daytime Running Lights, Lane departure warning system, Power steering, Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                               1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Full-LED headlights, Glare-free high beam headlights, Immobilizer, Isofix, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                1
ABS, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                                                                                                                                                                                1
ABS, Blind spot monitor, Central door lock, Daytime running lights, Distance warning system, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Full-LED headlights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control, Traffic sign recognition       1
ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                              1
Name: safety_security, Length: 12550, dtype: int64

In [60]:
first_looking('extras')

column name    :  extras
--------------------------------
per_of_nulls   :  % 20.35
num_of_nulls   :  6000
num_of_uniques :  9360
--------------------------------
NaN                                                                                                                                                                                                                                                                 6000
Alloy wheels                                                                                                                                                                                                                                                        3408
Alloy wheels, Roof rack                                                                                                                                                                                                                                              380
Alloy wheels, Sport seats                                                                                                                                                                                                                                            372
Alloy wheels, Touch screen                                                                                                                                                                                                                                           231
                                                                                                                                                                                                                                                                    ...
Alloy wheels (18"), Spoiler, Summer tyres, Trailer hitch                                                                                                                                                                                                               1
All season tyres, Alloy wheels, Automatically dimming interior mirror, Catalytic Converter, Headlight washer system, Ski bag, Sport seats, Trailer hitch, Winter tyres                                                                                                 1
Alloy wheels, Automatically dimming interior mirror, Headlight washer system, Sport package, Sport seats, Summer tyres                                                                                                                                                 1
Alloy wheels (19"), Ambient lighting, Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Emergency tyre repair kit, Headlight washer system, Spoiler, Sport package, Sport seats, Sport suspension, Summer tyres, Tuned car, Voice Control       1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                                                                                                            1
Name: extras, Length: 9361, dtype: int64

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [61]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [62]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

NameError: name 'df_dummied' is not defined